$highlight-color: #ffff00;
$selected-on-menu: #fff;
$light-background: #e3e3e3;
$gray-background: #e9ecef;
$writing-color: #000;
$default-color: #777;
$darker-default-color: #555;
$disabled-color: #aaa;
$success-color: #5cb85c; /* green */
$lighter-success-color: #9ce59c; /* light green */
$danger-color: #d9534f; /* red */
$lighter-danger-color: #ff7e7b; /* light red */
$primary-color: #428bca; /* blue */
$lighter-primary-color: #6ab3f0; /* light blue */
$warning-color: #f0ad4e; /* orange */
$lighter-warning-color: #ffc97c; /* light orange */
$info-color: #5bc0de; /* light blue */
$highlight: #eadb01; /* yellow */
$bg-color: #773099; /* purple */
$bg-color-hover: #5d2279;
$sub-bg-color: #966fa8; /* light-purple */
$primary-color: $bg-color;
$lighter-primary-color: $bg-color-hover;
$btn-check: $bg-color;
$btn-hover: $bg-color-hover;
$primary-bg: #aa62cc;
$on-dark-color: #fff;
$light-on-dark-color: rgba(255,255,255,.8);
$fp-color: $success-color;
$hp-color: $danger-color;
$mp-color: $selected-on-menu;

@import "rpg-awesome/rpg-awesome.scss";
@import "spinthatshit/loaders.scss";

@mixin icon-container(){
    list-style: none;
    display: block;
    padding: 0 5px;
    font-size: 1.6em;
    li{
        display:inline-block;
        width:28px;
        padding-right: 1.2em;
        text-align:center;
    }
}

@mixin icon-container-float(){
    @include icon-container();
    float: right;
}

@mixin large-icon-container(){
    @include icon-container-float();
    position: absolute;
    background-color: $light-background;
    font-size: 2.2em;
    margin: 10px;
    li{
        margin:0 2px;
        width: auto;
        padding: 0 0.1em;
    }
}
// 

@media (min-width: 992px){
    #main-container {
        margin-left: 5.5rem;
        width: calc(100% - 6em);
    }
}

@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Alegreya.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


@font-face {
  font-family: 'Alegreya';
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Alegreya-Bold.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/* generic */

body{
	font-weight: 300;
	background-repeat: no-repeat;
	background-position: top right;
}

.wrapper{
    background-color: rgba(255,255,255,0.85);
	min-height: 100vh;
}

h3{
    margin-bottom: 5px;
}

a {
	color: $primary-color;
}

.modal-footer .btn-primary.submit{
	background-color: $primary-color;
}

a:hover {
    cursor: pointer;
	color: $lighter-primary-color;
}

hr{
    margin:10px;
    padding:0;
}

textarea.form-control {
    min-height: 180px;
}

b, strong {
    font-weight: bold;
}

* {
  scrollbar-width: thin;
  scrollbar-color: $default-color transparent;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: $default-color;
  border-radius: 20px;
  border: 3px solid transparent;
}

hr.spacer {
    clear:both;
    border:0 solid;
    width:0;
    margin:0;
    padding:0;
}

@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
   max-width:1200px;
  }
}

.errorlist{
	color: $danger-color;
}

.card-tools {
	background-color: $bg-color;
	color: $on-dark-color;
}

.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active, .sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active {
	background-color: $bg-color;
}

#full-screen{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 10000;
	background-color: #ffffff6e;
}

.img-toolbar{
	width: 100%;
	text-align: center;
	padding: 10px;
	position: absolute;
	top: 2vh;
}

#full-screen-image{
	text-align: center;
	margin-top: 5vh;
}

#full-screen-image img{
	max-height: 94vh;
	max-width: 95vw;
	border: 1px solid #000;
}

#admin-menu i,
#menu i{
	padding: 0.4em;
	margin-right: 0.8rem;
	width: 30px;
	display: inline-block;
	height: 1rem;
}

.has_badge a,
[class*="sidebar-dark-"] .sidebar .has-badge a {
	color: $highlight-color;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link,
.btn-primary {
	color: $on-dark-color;
	background-color: $bg-color;
    box-shadow: none;
    border-color: transparent;
}

.nav-pills .nav-link:not(.active):hover {
	color: $bg-color-hover;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
	color: $on-dark-color;
	background-color: $bg-color-hover;
    border-color: $lighter-primary-color;
}

.btn-primary:active,
.btn-primary.active,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:hover {
	color: $on-dark-color;
	background-color: $bg-color-hover;
    border-color: transparent;
}

.check-with-label {
  display: none;
}

.check-with-label + label {
  cursor: pointer;
}

.check-with-label:checked + label {
  color: $bg-color;
}

.dropdown-item:focus, .dropdown-item:hover{
	color: $on-dark-color;
	background-color: $bg-color-hover;
}

.btn-tool{
	color: $light-on-dark-color;
}

.btn-tool:hover{
	color: $on-dark-color;
	background-color: transparent;
}

.fa-check-circle{
    color: $success-color;
}

.fa-times-circle{
    color: $danger-color;
}

input[type=file].form-control {
	height: auto;
}

label.col-form-label.light{
	font-weight: normal;
}

.row > span{
	width: 100%;
}

.row.spacer {
    margin-top:5px;
    margin-bottom:5px;
}

.pagination{
    margin: 5px 0;
    max-width:500px;
}
.page-item.active .page-link {
	background-color: $bg-color;
	color: $on-dark-color;
	border-color: $bg-color;
}

.page-item.active .page-link:hover{
	color: $on-dark-color;
}

/* menu - navbar */

#menu{
    margin: 0;
    padding: 0;
    padding-bottom: 1em;
    ul li:first-child div > a{
        color:$highlight-color;
    }
    ul li:first-child div > ul a{
        color:$light-background;
    }
    ul li:first-child div > ul a:hover{
        color:$default-color;
    }
    .current-page{
        float: left;
        color: $selected-on-menu;
        padding-right: 10px;
    }
}

#menu, #right-menu, .character-ap{
	i {
		padding-top: 0.25em;
	}
}

.navbar{
    border: 0px solid transparent;
    border-radius: 0;
    padding: 0;

    .navbar-header{
    	font-size: 0.9em;
        .icon-bar-list{
            float:right;
            margin-top:4px;
        }
    }
	a:hover{
		text-decoration: none;
	}
}

.bd-navbar{
	position: sticky;
	top: 0;
	z-index: 501;
}

.brand-text{
    padding:0 45px;
    padding-right: 5px;
    font-size:18px;
    background-image: url("../images/morrigan-logo-small.png");
    background-repeat: no-repeat;
    background-position: 5px center
}

.sidebar-mini.sidebar-collapse .logo-xs {
    padding-top: 8px;
}

.navbar-brand{
    color:$selected-on-menu;
    float:left;
    height:50px;
    padding:15px 40px;
    padding-right: 5px;
    font-size:18px;
    line-height:20px;
    background-image: url("../images/morrigan-logo-small.png");
    background-repeat: no-repeat;
    background-position: 5px center
}

#sidebar-admin{
	border-bottom: 1px solid #4b545c;
}

#sidebar-admin-2{
	border-top: 1px solid #4b545c;
}

.nav-link{
	width: 100%;
}

#status-div{
	padding: 0.2em;
}

.brand-link{
	line-height: 1.7;
}

#select-character-menu .nav > li > a {
	padding: 9px 10px;
	color: rgba(255,255,255,.8);
}

.nav {
    > li{
        > div > a,
        > a {
            padding: 15px 10px;
            display: inline-block;
        }
		> a:hover{
			color: #fff;
			background-color: transparent;
		}
		> a:focus, >a:hover {
			text-decoration: none;
		}
    }
    .open > a, .open > a:focus, .open > a:hover {
        background-color: transparent;
        border-color: transparent;

    }
}

#menu .badge{
	height: 1.7em;
	margin-top: .3em;
	margin-left: .4em;
}

#menu-base {
	padding-left: 1em;
}

#menu ul li.selected:first-child a,
.navbar .navbar-nav > li.selected > a {
    background-color: $selected-on-menu;
    color: $writing-color;
    border-color: $selected-on-menu;
    text-shadow: none;
}

@media (min-width: 768px){
    .navbar-header{
        display: inline-flex;
    }
}

.container{
	padding-top: 1.5em;
}

@media (max-width: 500px){
    #status-div{
        margin-left: 10px;
    }
}

.selected .badge{
    background-color: $primary-color;
}

.help-text{
	display: block;
	background-color: $light-background;
	padding: 0.2em 0.6em;
}

/* character status */

#character-div{
    display: inline-block;
    padding-left: 10px;
}

#character-status.three-col-status {
    width:300px;
}

#character-status{
    i{
        width:15px;
        align-self: flex-end;
		margin-bottom: 5px;
		margin-left: 1px;
        margin-right: 6px;
    }
    .progress{
        height: 5px;
        width:40px;
        display:inline-block;
    }
    .progress.characters-fp{
        color:red;
    }
    > span{
        font-size:1.3em;
        padding: 0 4px;
    }
	.max-score{
		font-size: 0.7em;
		align-self: flex-end;
		margin-bottom: 2px;
		margin-left: 1px;
	}
}

.character-ap{
	color:$highlight-color;
}
.character-fp{
	color:$fp-color;
}
.character-hp{
	color:$hp-color;
}
.character-mp{
	color:$mp-color;
}

/* characters descriptions */

.characters{
    list-style: none;
    padding:0;

    > li {
    	background-color: white;
    }

    .character-description,
    .character-background,
    .character-current-description{
        padding:5px;
    }
    .character-full-image{
    	float: left;
    	margin: 1em;
    	img {
	    	max-width: 200px;
			max-height: 200px;
        	border: 1px solid #ddd;
			border-radius: 5px;
    	}
    }

    .character-view-detail{
        @include icon-container-float();
    }

    .character-trust{
    	padding-left: 0.5em;
    	font-size: 0.8em;
    	color: $primary-color;
    }

    .character-temporary-trust{
    	padding-left: 0.5em;
    	font-size: 0.8em;
    	color: $warning-color;
    }

    .character-health,
    .character-race{
        font-style: italic;
    }

    .character-items{
        clear: both;
    	width: 100%;
        .item-icon, .item-name, .item-description{
            padding:0.2em 0.5em;
            margin:0.2em;
        }
        .item-image img{
	        width: 100px;
    		border-radius: 0.25em;
		    border: 1px #ccc solid;
        }
        .item-description{
            font-style: italic;
        }
        .item-natural,
        .item-equipped{
            text-align:center;
        }
        .item-capacity{
            text-align: right;
            padding: 0 1em;
        }
        th {
            font-weight: normal;
            font-variant: small-caps;
            font-size: 0.9em;
            padding: 0 0.2em;
        }
        tr:nth-child(even) td {
            background-color: #E8E8FF;
            background-color: $light-background;
        }
    }
}

.sub-characters.disabled{
    display: none;
}

.sub-characters{
    list-style: none;
    padding: 0;
    .character-name{
        max-width: calc(100% - 70px);
        display: inline-block;
    }
    .attribute{
        display: inline-block;
    	padding-left: 0.5em;
    }
}

/* character sheet */

#character-sheet,
#characters-sheet{
	display: none;
	.sheet-item-icon{
		text-align: center;
		width: 3em;
	}
	.character-detail-general > div > i {
    	font-size: 1.2em;
		vertical-align: super;
	}
	.character-detail-main-attribute{
		font-size: 2em;
		padding: 0 0.1em 0 0.2em;
	}
	.character-detail-main-attribute-max{
		font-size: 0.8em;
	}
}
#characters-detail{
    .table thead th {
        text-align: center;
        vertical-align: middle;
    }
    .table thead th.ability-header {
    	width: 7em;
    }
    .table td{
        text-align: right;
        padding-right: 2em;
    }
    .table th.ability{
        font-style: italic;
        font-weight: normal;
    }
}

.edit-form textarea{
	width: 100%;
	margin-bottom: 0.5em;
	height: 210px;
	font-size: 0.8em;
}

#sheet-notes {
	padding: 0.5em 1em 2em 1em;
	color: #555;
}

/* items */
.items{
    width: 100%;
    list-style: none;
    margin: 0;
    @include icon-container();
    float: none;
}

/* logs, location */

.log-inner{
	padding: 0.5em;
}

.log-inner-image{
	display: block;
	float: left;
	padding: 0 0.5em;
	img{
		width: 100px;
    	border-radius: 0.25em;
	    border: 1px #ccc solid;
	}
}

.log-inner-desc{
	display: block;
	float: left;
	padding: 0.5em 1em;
}

ul.logs{
    list-style: none;
    clear: both;
    padding: 0;
}

.log-actions{
    @include icon-container-float();
	position: absolute;
	line-height: 1.1em;
	margin-top: -0.2em;
	right: 0.1em;
}

.actions,
.filter-logs{
    @include large-icon-container();
}

.filter-logs{
	position: relative;
	float: left;
	font-size: 1.4em;
}

.actions{
    right: 20px;
}

@media (max-width: 500px){
	ul.logs{
		padding-top: 50px;
	}
	.filter-logs{
		margin-top: 50px;
	}
}

#maps, #action-log, #action-log-selector{
	display: none;
}

.action-logs{
    li{
        display:inline-block;
        text-align:center;
        border: 1px solid #ddd;
        border-right-width: 0;
        padding: 0.3em 0.6em;
    }
    li:first-child{
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
    li:last-child{
        border-right-width: 1px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    li:hover{
        cursor: pointer;
	    background-color: #e9ecef;
		border-color: #dee2e6;
    }
    li.active{
		background-color: $bg-color;
		color: $on-dark-color;
        border-color: $bg-color;
    }
    li.active:hover{
		background-color: $bg-color-hover;
		color: $on-dark-color;
    }
}

.character-image,
.location-image,
.log-image{
    float:left;
    margin-right: 6px;
}

.log-image i{
    display: inline-block;
    font-size: 1.6em;
    padding-left: 0.15em;
    vertical-align: middle;
}

.character-image img{
    height:40px;
    max-width:200px;
}

.log-image img {
    height: 30px;
    max-width: 50px;
}

#chat-players,
#chat-characters{
	padding: 0.4em 0.2em;
	list-style: none;
	font-size: 0.9em;
}

.chat-loader {
	padding-bottom: 12px;
}

.chat-loader > span{
	display: block;
    @include loader10($size: 16px, $gap: 8px, $duration: 1s, $align: middle, $color: $default-color);
}

.direct-chat .card-body{
    min-height: 200px;
	resize: vertical;
	margin: 0;
	padding: 0;
}

.direct-chat .card-body .row{
    height: calc(100% - 22px);
}

.chat-character-list{
	background-color: rgba(0,0,0,.05);
	height: 100%;
	overflow: auto;
}

.direct-chat-messages{
	height: 100%;
    padding: 0.4em 0.8em;
    p {
    	margin-bottom: 0.4em;
    }
}

.alt-chat{
	width: 100%;
}

.miss{
    padding: 0 0.2em;
}

.dice-roll {
    padding: 0 0.5em;
}

.dice-sum {
    padding: 0 0.5em;
    font-weight: bold;
    color: $btn-check;
}

.dice-detail{
    font-size: 0.85em;
}

.dice-result-min{
    color: $danger-color;
    font-weight: bold;
}

.dice-result-max{
    color: $success-color;
    font-weight: bold;
}

.direct-chat-leave,
.direct-chat-join{
	font-size: 0.8rem;
	font-style: italic;
}

#location-chat{
	width: 100%;
	padding: 0;
	margin: 0;
}

#location-chat > div{
	z-index: 100;
}

.help-msg{
	display: block;
	font-size: 0.9em;
	color: $lighter-danger-color;
}

#document-selector{
	float: left;
}

#toggle-music{
	float: right;
}

#toggle-music .btn{
	font-size: 0.78em;
	padding: .1rem .2rem;
}

#toggle-music .active .fa-ban{
	display: none;
}

.audio-volume-container > input[type=range]{
    width: 50px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: $disabled-color;
    border-radius: 10px;
    height: 8px;
}

#initiative{
    clear: both;
    .breadcrumb {
        margin: 0;
    }
    .no-form .breadcrumb{
    	border-radius: 0 0 .25rem .25rem;
    }
	h4{
		font-size: 1.1rem;
		padding: 0.1rem 1rem;
		margin: 0;
		background-color: $sub-bg-color;
		color: $on-dark-color;
		font-weight: normal;
	}

    form {
	    font-size: 0.8rem;
		padding: 0 1rem;
		margin: 0;
		background-color: $gray-background;
		border-radius: 0 0 0.25rem 0.25rem;
    }
    input{
		height: 1.8rem;
		max-width: 120px;
    }
    label{
	    margin-bottom: 0.1rem;
    }
}

.top-toolbar{
	min-height: 3rem;
	padding-bottom: 2em;
}

.character-detail-general{
	padding: 1.2em 1.5em;
}

.character-detail-name {
	display: block;
	font-weight: bold;
	font-size: 0.8em;
}

#chan-list{
    padding: 0.4em 0.2em;
    list-style: none;
    font-size: 0.9em;
    margin: 0;
}

#btn-chat-player-log,
#btn-chat-log,
.chat-character-btn{
    margin: 0.2em 0;
    width: 100%;
}

#btn-chat-player-log.active,
#btn-chat-log.active,
.btn-secondary:not(:disabled):not(.disabled).chat-character-btn.active{
    background-color: $bg-color;
}

#btn-chat-player-log:hover,
#btn-chat-log:hover,
.btn-secondary:not(:disabled):not(.disabled).chat-character-btn:hover{
    cursor: pointer;
    background-color: $bg-color-hover;
}

.alt-chat,
#chat-player-log,
#chat-log{
    overflow-y: auto;
    display: block;
    position: absolute;
    width: 100%;
}

.warn-chat{
	text-align: center;
	font-size: 0.9em;
	color: white;
	display: none;
}

.warn-chat.active{
	display: block;
}

#warn-in-game{
	background-color: $success-color;
}

#warn-off-game{
	background-color: $warning-color;
}

.chat-character-list,
#chat-players,
#chat-characters,
#chat-player-log,
#chat-log,
.alt-chat{
    display: none;
}

.chat-character-list.active,
#chat-characters.active,
#chat-log.active,
#chat-player-log.active,
#chat-players.active,
.alt-chat.active{
    display: block;
}

.chat-character-name, .chat-myself{
	padding: 0.2em 0.4em;
    border-radius: calc(.25rem - 1px);
}

.chat-myself{
	font-style: italic;
}

.chat-character-name:hover{
	padding: 0.2em 0.4em;
    background-color: $bg-color-hover;
    border-color: $bg-color-hover;
    color: $on-dark-color;
    cursor: pointer;
}

.chat-character-name.disabled{
    color:$disabled-color;
}


.card .card-header {
    border-radius: 0;
}

.card .card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.card.collapsed .card-header:first-child {
    border-radius: calc(.25rem - 1px);
}

.card-footer{
    border-top: 1px solid #ddd;
}

.card .btn-plus{
	display: none;
}

.card.collapsed .btn-plus{
	display: inline-block;
}

.card.collapsed .btn-minus,
.card.collapsed .card-body,
.card.collapsed .card-footer{
	display: none;
}

@media (min-width: 992px){
    .direct-chat{
        height: calc(100vh - 5rem);
    }
    .direct-chat .card-body{
        height: 100%;
    	resize: none;
    }
    .card.collapsed{
    	width: 100%;
    }
    .card.collapsed .btn-minus,
    .card.collapsed .btn-plus{
        display: none;
    }

    .card.collapsed .card-body,
    .card.collapsed .card-footer{
        display: block;
    }

    .card.card.collapsed .card-header:first-child {
        border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    }
}

.msg-me{
	font-style: italic;
}

.direct-chat-text{
	font-size: 1.1em;
}

.in-game .direct-chat-text{
	font-family: "Alegreya","Times New Roman", Times, Georgia, serif;
	font-size: 1.3em;
}

.direct-chat-primary .right > .direct-chat-text.no-decoration{
	color: #444;
}

.no-decoration.direct-chat-text::after, .no-decoration.direct-chat-text::before {
    border-right-color: transparent;
}

.direct-chat-primary .right > .no-decoration.direct-chat-text::after, .direct-chat-primary .right > .no-decoration.direct-chat-text::before {
    border-left-color: transparent;
}

.direct-chat-icon{
	text-align: center;
	background-color: #eee;
	font-size: 1.2em;
	padding: 0.4em;
}

.no-decoration.direct-chat-text,
.direct-chat-primary .right > .no-decoration.direct-chat-text {
	background: transparent;
	border: 1px solid transparent;
}

.direct-chat-primary .right > .direct-chat-text {
    background: $primary-bg;
    border-color: $primary-bg;
}

.direct-chat-primary .right > .direct-chat-text::after, .direct-chat-primary .right > .direct-chat-text::before {
    border-left-color: $primary-bg;
}

.location-image img{
    max-height: 300px;
    max-width: 300px;
    margin-right: 10px;
    margin-bottom: 0.2em;
    border-radius: 0.25em;
    border: 1px #ccc solid;
}

.location-image img:hover{
    cursor: pointer;
}

.parent-location-image img{
    max-height: 140px;
    max-width: 140px;
    margin-right: 0;
}

ul.parent-images{
    max-width: 300px;
    margin: 0;
    padding: 0;
    margin-top: 0;
    list-style: none;
}

ul.parent-images li{
	display: inline-block;
	padding: 0.2em 0.3em;
}

.log-date{
    font-size: 0.9em;
    color: $default-color;
	margin-left: 1em;
}

.log-name{
	margin-left: 1em;
}

.log-header{
	font-size: 0.75em;
}

.log-content p {
	margin-bottom: 0.2rem;
}

.log-content img {
	max-width: 300px;
}

.log-to, .log-from{
    color: $warning-color;
    font-weight: bold;
}

.nav > li > a.level-2 {
	padding-left: 1rem;
}

.nav > li > a.level-3 {
	padding-left: 2rem;
}

.nav > li > a.level-4 {
	padding-left: 3rem;
}

.nav > li > a.level-5 {
	padding-left: 4rem;
}

.history-book{
	h1, h2, h3, h4, h5, p {
		font-family: "Alegreya","Times New Roman", Times, Georgia, serif;
		margin-bottom: 1rem;
	}
	hr {
		border-top: 1px solid black;
		margin-bottom: 2rem;
	}
	em{
		font-family: "Roboto","Helvetica Neue",Arial,sans-serif;
		font-weight: 100;
		font-size: 1.1rem;
	}
	p {
		font-size: 1.2rem;
	}
	.log-to, .log-from {
		color: unset;
		font-weight: unset;
		font-style: italic;
	}
	.log-header {
    	font-size: 1rem;
    	padding: 0.4rem;
	}
	p {
    	margin-bottom: 0.2rem;
    }
    p img {
    	max-width: 400px;
		max-height: 300px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		border: 1px solid #ccc;
    }
}

.log-head span{
    margin-right:3px;
}

/* buttons */

.btn-group.btn-check > .btn:last-child:not(:first-child),
.btn-group.btn-check > .btn:first-child:not(:last-child),
.btn-group.btn-check >.btn:not(:first-child):not(:last-child) {
    border-radius: 4px;
}

.btn-group.btn-check > .btn {
    padding:0 8px;
    margin:2px 5px;
}

.btn-group.btn-check > .btn-secondary input {
	display: none;
}

.btn-group.btn-check > .btn-secondary {
     background-image: none;
     white-space: nowrap;
}

.btn-group.btn-check > .btn-secondary.active {
    background-color: $btn-check;
}

.btn-group.btn-check > .btn-secondary:focus,
.btn-group.btn-check > .btn-secondary:hover {
    background-color: $btn-hover;
}

/* bootstrap callout */

.bs-callout-hide {
    color:$disabled-color;
}

.characters .bs-callout {
	margin:0;
}

.bs-callout {
    min-height:40px;
    padding: 9px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    background-color: #fff;

    h4 {
        margin-top: 0;
        margin-bottom: 5px;
    }

    h4.character-name {
        margin-bottom: 0;
    }

    p:last-child {
        margin-bottom: 0;
    }

    code {
        border-radius: 3px;
    }
}

.bs-callout+.bs-callout {
    margin-top: -5px;
}

.bs-callout-default {
    border-left-color:$default-color;
    > div > .attribute,
    > div > h4 {
        color:$default-color;
    }
}

.bs-callout-primary {
    border-left-color:$primary-color;
    > div > .attribute,
    > div > h4 {
        color: $primary-color;
    }
}

.bs-callout-success {
    border-left-color: $success-color;
    > div > .attribute,
    > div > h4 {
        color: $success-color;
    }
}

.bs-callout-danger {
    border-left-color: $danger-color;
    > div > .attribute,
    > div > h4 {
        color: $danger-color;
    }
}

.bs-callout-warning {
    border-left-color: $warning-color;
    > div > .attribute,
    > div > h4 {
        color: $warning-color;
    }
}

.bs-callout-info {
    border-left-color: $info-color;
    > div > .attribute,
    > div > h4 {
        color: $info-color;
    }
}

/* dices */

#dice-canvas{
	display: none;
    background-color: transparent;
    position: absolute;
    z-index: 1000;
}

/* icon colors */

.filter-logs .fa-check,
.log-actions .fa-check{
    color:$success-color;
}

.filter-logs .disabled .fa-check:hover,
.log-actions .disabled .fa-check:hover{
    color:$lighter-success-color;
}

.items i,
.characters .fa-eye,
.characters .fa-check{
    color:$primary-color;
}

.items .disabled i:hover,
.characters .disabled .fa-eye:hover,
.characters .disabled .fa-check:hover{
    color:$lighter-primary-color;
}

.filter-logs .disabled .fa-exclamation-triangle:hover,
.filter-logs .fa-exclamation-triangle,
.log-actions .disabled .fa-exclamation-triangle:hover,
.log-actions .fa-exclamation-triangle{
    color: $warning-color;
}

.filter-logs .disabled .fa-exclamation-triangle:hover,
.log-actions .disabled .fa-exclamation-triangle:hover{
    color: $lighter-warning-color;
}

.filter-logs .fa-ban,
.log-actions .fa-ban{
    color: $danger-color;
}

.filter-logs .disabled .fa-ban:hover,
.log-actions .disabled .fa-ban:hover{
    color: $lighter-danger-color;
}

.image-note .fa-book:hover,
.description-note .fa-book:hover,
.characters .disabled .fa-book:hover,
.log-actions .disabled .fa-pencil:hover{
	color: $bg-color;
}

.items .disabled i,
.action-logs-icons .disabled i,
.characters .disabled .fa-check,
.characters .disabled .fa-eye,
.characters .disabled .fa-book,
.filter-logs .disabled .fa-ban,
.log-actions .disabled .fa-ban,
.log-actions .disabled .fa-pencil,
.description-note .fa-book,
.image-note .fa-book,
.filter-logs .disabled .fa-exclamation-triangle,
.log-actions .disabled .fa-exclamation-triangle,
.filter-logs .disabled .fa-check,
.log-actions .disabled .fa-check{
    color: $disabled-color;
}

.image-note{
	padding: 0.2em 0.3em;
	margin-left: -2.25em;
	background-color: #fff;
	border-radius: 0.3em 0 0 0.3em;
}

.parent-images .image-note{
	margin-left: -1.6em;
}

.md-preview{
	background-color: #efefef;
	border-radius: 3px;
	overflow-y: scroll;

}

#drag-image{
	position: absolute;
	z-index: 1;
}

#svg-map {
	z-index: 100;
	position: absolute;
	font-size: 1.2rem;
	font-weight: bold;
}

.direct-chat-msg .icon {
	font-size: 1.6em;
	background-color: #eee;
	padding: .24em .28em;
}

.target-hover:hover{
	cursor: crosshair;
}

#live-over-image{
	position: absolute;
}

.dz-message{
	font-size: 2em;
	padding: 1em;
}

.chat-image {
    display: block;
    max-width: 80%;
    margin: 0.5em auto;
    border: 2px solid #ccc;
}

.light-theme {
	a {
		color: $darker-default-color;
	}

	a.btn-secondary {
		color: $on-dark-color;
	}

	a:hover {
		color: $default-color;
	}

	a.btn-secondary:hover {
		color: $light-on-dark-color;
	}

	textarea:focus,
	input[type]:focus,
	.uneditable-input:focus {
		border-color: rgba(126, 126, 126, 0.8);
  		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 126, 126, 0.6);
  		outline: 0 none;
	}

	.modal-footer .btn-primary.submit,
	.nav-pills .nav-link.active, .nav-pills .show > .nav-link,
	.btn-primary {
		background-color: transparent;
		color: $default-color;
	}

	.nav-pills .nav-link:not(.active):hover {
		color: white;
	}

	.modal-footer .btn-primary.submit,
	.input-group .btn-primary ,
	#btn-chat-player-log.active,
	#btn-chat-log.active,
	.btn-secondary:not(:disabled):not(.disabled).chat-character-btn.active,
	.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active, .sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active,
	.page-item.active .page-link,
	.action-logs li.active,
	.btn-primary:not(:disabled):not(.disabled).active,
	.btn-primary:not(:disabled):not(.disabled):active,
	.show > .btn-primary.dropdown-toggle {
		background-color: white;
		color: $darker-default-color;
		border-color: $default-color;
	}

	.page-link,
	.action-logs li {
		background-color: transparent;
		border-color: transparent;
		color: $default-color;
		border-right-width: 1px;
	}

	.page-item.disabled .page-link {
		background-color: transparent;
		border-color: transparent;
	}

	.dropdown-item:focus, .dropdown-item:hover,
	.modal-footer .btn-primary.submit:hover,
	.input-group .btn-primary:hover,
	.page-link:hover,
	.action-logs li:hover,
	.btn-primary.active,
	.btn-primary.focus,
	.btn-primary:hover {
		color: white;
		background-color: $default-color;
		border-color: transparent;
	}

	.direct-chat-infos {
    	font-size: .775rem;
    }

	.direct-chat-primary .right > .direct-chat-text,
	.direct-chat-text{
		background: transparent;
		border: 0 solid transparent;
		color: $default-color;
	}

    .direct-chat-primary .right > .direct-chat-text::after,
    .direct-chat-primary .right > .direct-chat-text::before,
	.direct-chat-text::after, .direct-chat-text::before {
    	border-right-color: transparent;
    	border-left-color: transparent;
	}

	#btn-chat-player-log,
	#btn-chat-log,
	.btn-secondary:not(:disabled):not(.disabled).chat-character-btn{
		background-color: white;
		color: $default-color;
		border-color: transparent;
	}

	.chat-character-name:hover{
		background-color: $default-color;
		border-color: $default-color;
		color: white;
	}

	#btn-chat-player-log:hover,
	#btn-chat-log:hover,
	.btn-secondary:not(:disabled):not(.disabled).chat-character-btn:hover{
		background-color: $default-color;
		border-color: $default-color;
		color: white;
	}

	.chat-character-list{
		background-color: transparent;
	}
	.warn-chat.active{
		display: block;
	}

	#warn-in-game{
		background-color: transparent;
		color: $success-color;
	}

	#warn-off-game{
		background-color: transparent;
		color: $warning-color;
	}
}



/*
#map-container {
	display: block;
	overflow: hidden;
	border: 1px solid #cccccc;
	box-sizing: border-box;
	position: relative;
	cursor: move;
	margin: 1em;
}

#map-container > div {
	max-height: 500px;
	padding-right: 0;
	padding-left: 0;
}

#drag-image {
	left: 0;
	pointer-events: none;
	position: relative;
	top: 0;
	-moz-user-select: none;
}
*/
