@charset "UTF-8";
/* green */
/* light green */
/* red */
/* light red */
/* blue */
/* light blue */
/* orange */
/* light orange */
/* light blue */
/* yellow */
/* purple */
/* light-purple */
/*!
 * RPG Awesome 0.0.2 by Daniela Howe, Ivan Montiel
 * License - https://github.com/nagoshiashumari/Rpg-Awesome/blob/master/LICENSE.md
 * (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'RPGAwesome';
  src: url("../fonts/rpgawesome-webfont.eot?v=0.1.0");
  src: url("../fonts/rpgawesome-webfont.eot?#iefix&v=0.1.0") format("embedded-opentype"), url("../fonts/rpgawesome-webfont.woff?v=0.1.0") format("woff"), url("../fonts/rpgawesome-webfont.ttf?v=0.1.0") format("truetype"), url("../fonts/rpgawesome-webfont.svg?v=0.1.0#rpg-awesome") format("svg");
  font-weight: normal;
  font-style: normal; }
.ra {
  font-family: RPGAwesome;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none; }

/* makes the font 33% larger relative to the icon container */
.ra-lg {
  font-size: 1.3333333333em;
  line-height: 0.75em;
  vertical-align: -15%; }

.ra-2x {
  font-size: 2em; }

.ra-3x {
  font-size: 3em; }

.ra-4x {
  font-size: 4em; }

.ra-5x {
  font-size: 5em; }

.ra-fw {
  text-align: center;
  width: 1.2857142857em; }

.ra-ul {
  list-style-type: none;
  margin-left: 2.1428571429em;
  padding-left: 0; }
  .ra-ul > li {
    position: relative; }

.ra-li {
  left: -2.1428571429em;
  position: absolute;
  text-align: center;
  top: 0.1428571429em;
  width: 2.1428571429em; }
  .ra-li.ra-lg {
    left: -1.8571428571em; }

.ra-border {
  border: solid 0.08em #eee;
  border-radius: .1em;
  padding: .2em .25em .15em; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

.ra.pull-left {
  margin-right: .3em; }
.ra.pull-right {
  margin-left: .3em; }

.ra-spin {
  -webkit-animation: ra-spin 2s infinite linear;
  animation: ra-spin 2s infinite linear; }

@-webkit-keyframes ra-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
@keyframes ra-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
.ra-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.ra-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.ra-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }

.ra-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1); }

.ra-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1); }

:root .ra-rotate-90,
:root .ra-rotate-180,
:root .ra-rotate-270,
:root .ra-flip-horizontal,
:root .ra-flip-vertical {
  filter: none; }

.ra-stack {
  display: inline-block;
  height: 2em;
  line-height: 2em;
  position: relative;
  vertical-align: middle;
  width: 2em; }

.ra-stack-1x, .ra-stack-2x {
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%; }

.ra-stack-1x {
  line-height: inherit; }

.ra-stack-2x {
  font-size: 2em; }

.ra-inverse {
  color: #fff; }

.ra-acid:before {
  content: ""; }

.ra-zigzag-leaf:before {
  content: ""; }

.ra-archer:before {
  content: ""; }

.ra-archery-target:before {
  content: ""; }

.ra-arena:before {
  content: ""; }

.ra-aries:before {
  content: ""; }

.ra-arrow-cluster:before {
  content: ""; }

.ra-arrow-flights:before {
  content: ""; }

.ra-arson:before {
  content: ""; }

.ra-aura:before {
  content: ""; }

.ra-aware:before {
  content: ""; }

.ra-axe:before {
  content: ""; }

.ra-axe-swing:before {
  content: ""; }

.ra-ball:before {
  content: ""; }

.ra-barbed-arrow:before {
  content: ""; }

.ra-barrier:before {
  content: ""; }

.ra-bat-sword:before {
  content: ""; }

.ra-battered-axe:before {
  content: ""; }

.ra-batteries:before {
  content: ""; }

.ra-battery-0:before {
  content: ""; }

.ra-battery-25:before {
  content: ""; }

.ra-battery-50:before {
  content: ""; }

.ra-battery-75:before {
  content: ""; }

.ra-battery-100:before {
  content: ""; }

.ra-battery-black:before {
  content: ""; }

.ra-battery-negative:before {
  content: ""; }

.ra-battery-positive:before {
  content: ""; }

.ra-battery-white:before {
  content: ""; }

.ra-batwings:before {
  content: ""; }

.ra-beam-wake:before {
  content: ""; }

.ra-bear-trap:before {
  content: ""; }

.ra-beer:before {
  content: ""; }

.ra-beetle:before {
  content: ""; }

.ra-bell:before {
  content: ""; }

.ra-biohazard:before {
  content: ""; }

.ra-bird-claw:before {
  content: ""; }

.ra-bird-mask:before {
  content: ""; }

.ra-blade-bite:before {
  content: ""; }

.ra-blast:before {
  content: ""; }

.ra-blaster:before {
  content: ""; }

.ra-bleeding-eye:before {
  content: ""; }

.ra-bleeding-hearts:before {
  content: ""; }

.ra-bolt-shield:before {
  content: ""; }

.ra-bomb-explosion:before {
  content: ""; }

.ra-bombs:before {
  content: ""; }

.ra-bone-bite:before {
  content: ""; }

.ra-bone-knife:before {
  content: ""; }

.ra-book:before {
  content: ""; }

.ra-boomerang:before {
  content: ""; }

.ra-boot-stomp:before {
  content: ""; }

.ra-bottle-vapors:before {
  content: ""; }

.ra-bottled-bolt:before {
  content: ""; }

.ra-bottom-right:before {
  content: ""; }

.ra-bowie-knife:before {
  content: ""; }

.ra-bowling-pin:before {
  content: ""; }

.ra-brain-freeze:before {
  content: ""; }

.ra-brandy-bottle:before {
  content: ""; }

.ra-bridge:before {
  content: ""; }

.ra-broadhead-arrow:before {
  content: ""; }

.ra-sword:before,
.ra-broadsword:before {
  content: ""; }

.ra-broken-bone:before {
  content: ""; }

.ra-broken-bottle:before {
  content: ""; }

.ra-broken-heart:before {
  content: ""; }

.ra-broken-shield:before {
  content: ""; }

.ra-broken-skull:before {
  content: ""; }

.ra-bubbling-potion:before {
  content: ""; }

.ra-bullets:before {
  content: ""; }

.ra-burning-book:before {
  content: ""; }

.ra-burning-embers:before {
  content: ""; }

.ra-burning-eye:before {
  content: ""; }

.ra-burning-meteor:before {
  content: ""; }

.ra-burst-blob:before {
  content: ""; }

.ra-butterfly:before {
  content: ""; }

.ra-campfire:before {
  content: ""; }

.ra-cancel:before {
  content: ""; }

.ra-cancer:before {
  content: ""; }

.ra-candle:before {
  content: ""; }

.ra-candle-fire:before {
  content: ""; }

.ra-cannon-shot:before {
  content: ""; }

.ra-capitol:before {
  content: ""; }

.ra-capricorn:before {
  content: ""; }

.ra-carrot:before {
  content: ""; }

.ra-castle-emblem:before {
  content: ""; }

.ra-castle-flag:before {
  content: ""; }

.ra-cat:before {
  content: ""; }

.ra-chain:before {
  content: ""; }

.ra-cheese:before {
  content: ""; }

.ra-chemical-arrow:before {
  content: ""; }

.ra-chessboard:before {
  content: ""; }

.ra-chicken-leg:before {
  content: ""; }

.ra-circle-of-circles:before {
  content: ""; }

.ra-circular-saw:before {
  content: ""; }

.ra-circular-shield:before {
  content: ""; }

.ra-cloak-and-dagger:before {
  content: ""; }

.ra-clockwork:before {
  content: ""; }

.ra-clover:before {
  content: ""; }

.ra-clovers:before {
  content: ""; }

.ra-clovers-card:before {
  content: ""; }

.ra-cluster-bomb:before {
  content: ""; }

.ra-coffee-mug:before {
  content: ""; }

.ra-cog:before {
  content: ""; }

.ra-cog-wheel:before {
  content: ""; }

.ra-cold-heart:before {
  content: ""; }

.ra-compass:before {
  content: ""; }

.ra-corked-tube:before {
  content: ""; }

.ra-crab-claw:before {
  content: ""; }

.ra-cracked-helm:before {
  content: ""; }

.ra-cracked-shield:before {
  content: ""; }

.ra-croc-sword:before {
  content: ""; }

.ra-crossbow:before {
  content: ""; }

.ra-crossed-axes:before {
  content: ""; }

.ra-crossed-bones:before {
  content: ""; }

.ra-crossed-pistols:before {
  content: ""; }

.ra-crossed-sabres:before {
  content: ""; }

.ra-crossed-swords:before {
  content: ""; }

.ra-crown:before {
  content: ""; }

.ra-crown-of-thorns:before {
  content: ""; }

.ra-crowned-heart:before {
  content: ""; }

.ra-crush:before {
  content: ""; }

.ra-crystal-ball:before {
  content: ""; }

.ra-crystal-cluster:before {
  content: ""; }

.ra-crystal-wand:before {
  content: ""; }

.ra-crystals:before {
  content: ""; }

.ra-cubes:before {
  content: ""; }

.ra-cut-palm:before {
  content: ""; }

.ra-cycle:before {
  content: ""; }

.ra-daggers:before {
  content: ""; }

.ra-daisy:before {
  content: ""; }

.ra-dead-tree:before {
  content: ""; }

.ra-death-skull:before {
  content: ""; }

.ra-decapitation:before {
  content: ""; }

.ra-defibrillate:before {
  content: ""; }

.ra-demolish:before {
  content: ""; }

.ra-dervish-swords:before {
  content: ""; }

.ra-desert-skull:before {
  content: ""; }

.ra-diamond:before {
  content: ""; }

.ra-diamonds:before {
  content: ""; }

.ra-diamonds-card:before {
  content: ""; }

.ra-dice-five:before {
  content: ""; }

.ra-dice-four:before {
  content: ""; }

.ra-dice-one:before {
  content: ""; }

.ra-dice-six:before {
  content: ""; }

.ra-dice-three:before {
  content: ""; }

.ra-dice-two:before {
  content: ""; }

.ra-dinosaur:before {
  content: ""; }

.ra-divert:before {
  content: ""; }

.ra-diving-dagger:before {
  content: ""; }

.ra-double-team:before {
  content: ""; }

.ra-doubled:before {
  content: ""; }

.ra-dragon:before {
  content: ""; }

.ra-dragon-breath:before {
  content: ""; }

.ra-dragon-wing:before {
  content: ""; }

.ra-dragonfly:before {
  content: ""; }

.ra-drill:before {
  content: ""; }

.ra-dripping-blade:before {
  content: ""; }

.ra-dripping-knife:before {
  content: ""; }

.ra-dripping-sword:before {
  content: ""; }

.ra-droplet:before {
  content: ""; }

.ra-droplet-splash:before {
  content: ""; }

.ra-droplets:before {
  content: ""; }

.ra-duel:before {
  content: ""; }

.ra-egg:before {
  content: ""; }

.ra-egg-pod:before {
  content: ""; }

.ra-eggplant:before {
  content: ""; }

.ra-emerald:before {
  content: ""; }

.ra-energise:before {
  content: ""; }

.ra-explosion:before {
  content: ""; }

.ra-explosive-materials:before {
  content: ""; }

.ra-eye-monster:before {
  content: ""; }

.ra-eye-shield:before {
  content: ""; }

.ra-eyeball:before {
  content: ""; }

.ra-fairy:before {
  content: ""; }

.ra-fairy-wand:before {
  content: ""; }

.ra-fall-down:before {
  content: ""; }

.ra-falling:before {
  content: ""; }

.ra-fast-ship:before {
  content: ""; }

.ra-feather-wing:before {
  content: ""; }

.ra-feathered-wing:before {
  content: ""; }

.ra-fedora:before {
  content: ""; }

.ra-fire:before {
  content: ""; }

.ra-fire-bomb:before {
  content: ""; }

.ra-fire-breath:before {
  content: ""; }

.ra-fire-ring:before {
  content: ""; }

.ra-fire-shield:before {
  content: ""; }

.ra-fire-symbol:before {
  content: ""; }

.ra-fireball-sword:before {
  content: ""; }

.ra-fish:before {
  content: ""; }

.ra-fizzing-flask:before {
  content: ""; }

.ra-flame-symbol:before {
  content: ""; }

.ra-flaming-arrow:before {
  content: ""; }

.ra-flaming-claw:before {
  content: ""; }

.ra-flaming-trident:before {
  content: ""; }

.ra-flask:before {
  content: ""; }

.ra-flat-hammer:before {
  content: ""; }

.ra-flower:before {
  content: ""; }

.ra-flowers:before {
  content: ""; }

.ra-fluffy-swirl:before {
  content: ""; }

.ra-focused-lightning:before {
  content: ""; }

.ra-food-chain:before {
  content: ""; }

.ra-footprint:before {
  content: ""; }

.ra-forging:before {
  content: ""; }

.ra-forward:before {
  content: ""; }

.ra-fox:before {
  content: ""; }

.ra-frost-emblem:before {
  content: ""; }

.ra-frostfire:before {
  content: ""; }

.ra-frozen-arrow:before {
  content: ""; }

.ra-gamepad-cross:before {
  content: ""; }

.ra-gavel:before {
  content: ""; }

.ra-gear-hammer:before {
  content: ""; }

.ra-gear-heart:before {
  content: ""; }

.ra-gears:before {
  content: ""; }

.ra-gecko:before {
  content: ""; }

.ra-gem:before {
  content: ""; }

.ra-gem-pendant:before {
  content: ""; }

.ra-gemini:before {
  content: ""; }

.ra-glass-heart:before {
  content: ""; }

.ra-gloop:before {
  content: ""; }

.ra-gold-bar:before {
  content: ""; }

.ra-grappling-hook:before {
  content: ""; }

.ra-grass:before {
  content: ""; }

.ra-grass-patch:before {
  content: ""; }

.ra-grenade:before {
  content: ""; }

.ra-groundbreaker:before {
  content: ""; }

.ra-guarded-tower:before {
  content: ""; }

.ra-guillotine:before {
  content: ""; }

.ra-halberd:before {
  content: ""; }

.ra-hammer:before {
  content: ""; }

.ra-hammer-drop:before {
  content: ""; }

.ra-hand:before {
  content: ""; }

.ra-hand-emblem:before {
  content: ""; }

.ra-hand-saw:before {
  content: ""; }

.ra-harpoon-trident:before {
  content: ""; }

.ra-health:before {
  content: ""; }

.ra-health-decrease:before {
  content: ""; }

.ra-health-increase:before {
  content: ""; }

.ra-heart-bottle:before {
  content: ""; }

.ra-heart-tower:before {
  content: ""; }

.ra-heartburn:before {
  content: ""; }

.ra-hearts:before {
  content: ""; }

.ra-hearts-card:before {
  content: ""; }

.ra-heat-haze:before {
  content: ""; }

.ra-heavy-fall:before {
  content: ""; }

.ra-heavy-shield:before {
  content: ""; }

.ra-helmet:before {
  content: ""; }

.ra-help:before {
  content: ""; }

.ra-hive-emblem:before {
  content: ""; }

.ra-hole-ladder:before {
  content: ""; }

.ra-honeycomb:before {
  content: ""; }

.ra-hood:before {
  content: ""; }

.ra-horn-call:before {
  content: ""; }

.ra-horns:before {
  content: ""; }

.ra-horseshoe:before {
  content: ""; }

.ra-hospital-cross:before {
  content: ""; }

.ra-hot-surface:before {
  content: ""; }

.ra-hourglass:before {
  content: ""; }

.ra-hydra:before {
  content: ""; }

.ra-hydra-shot:before {
  content: ""; }

.ra-ice-cube:before {
  content: ""; }

.ra-implosion:before {
  content: ""; }

.ra-incense:before {
  content: ""; }

.ra-insect-jaws:before {
  content: ""; }

.ra-interdiction:before {
  content: ""; }

.ra-jetpack:before {
  content: ""; }

.ra-jigsaw-piece:before {
  content: ""; }

.ra-kaleidoscope:before {
  content: ""; }

.ra-kettlebell:before {
  content: ""; }

.ra-key:before {
  content: ""; }

.ra-key-basic:before {
  content: ""; }

.ra-kitchen-knives:before {
  content: ""; }

.ra-knife:before {
  content: ""; }

.ra-knife-fork:before {
  content: ""; }

.ra-knight-helmet:before {
  content: ""; }

.ra-kunai:before {
  content: ""; }

.ra-lantern-flame:before {
  content: ""; }

.ra-large-hammer:before {
  content: ""; }

.ra-laser-blast:before {
  content: ""; }

.ra-laser-site:before {
  content: ""; }

.ra-lava:before {
  content: ""; }

.ra-leaf:before {
  content: ""; }

.ra-leo:before {
  content: ""; }

.ra-level-four:before {
  content: ""; }

.ra-level-four-advanced:before {
  content: ""; }

.ra-level-three:before {
  content: ""; }

.ra-level-three-advanced:before {
  content: ""; }

.ra-level-two:before {
  content: ""; }

.ra-level-two-advanced:before {
  content: ""; }

.ra-lever:before {
  content: ""; }

.ra-libra:before {
  content: ""; }

.ra-light-bulb:before {
  content: ""; }

.ra-lighthouse:before {
  content: ""; }

.ra-lightning:before {
  content: ""; }

.ra-lightning-bolt:before {
  content: ""; }

.ra-lightning-storm:before {
  content: ""; }

.ra-lightning-sword:before {
  content: ""; }

.ra-lightning-trio:before {
  content: ""; }

.ra-lion:before {
  content: ""; }

.ra-lit-candelabra:before {
  content: ""; }

.ra-load:before {
  content: ""; }

.ra-locked-fortress:before {
  content: ""; }

.ra-love-howl:before {
  content: ""; }

.ra-maggot:before {
  content: ""; }

.ra-magnet:before {
  content: ""; }

.ra-mass-driver:before {
  content: ""; }

.ra-match:before {
  content: ""; }

.ra-meat:before {
  content: ""; }

.ra-meat-hook:before {
  content: ""; }

.ra-medical-pack:before {
  content: ""; }

.ra-metal-gate:before {
  content: ""; }

.ra-microphone:before {
  content: ""; }

.ra-mine-wagon:before {
  content: ""; }

.ra-mining-diamonds:before {
  content: ""; }

.ra-mirror:before {
  content: ""; }

.ra-monster-skull:before {
  content: ""; }

.ra-mountains:before {
  content: ""; }

.ra-moon-sun:before {
  content: ""; }

.ra-mp5:before {
  content: ""; }

.ra-muscle-fat:before {
  content: ""; }

.ra-muscle-up:before {
  content: ""; }

.ra-musket:before {
  content: ""; }

.ra-nails:before {
  content: ""; }

.ra-nodular:before {
  content: ""; }

.ra-noose:before {
  content: ""; }

.ra-nuclear:before {
  content: ""; }

.ra-ocarina:before {
  content: ""; }

.ra-ocean-emblem:before {
  content: ""; }

.ra-octopus:before {
  content: ""; }

.ra-omega:before {
  content: ""; }

.ra-on-target:before {
  content: ""; }

.ra-ophiuchus:before {
  content: ""; }

.ra-overhead:before {
  content: ""; }

.ra-overmind:before {
  content: ""; }

.ra-palm-tree:before {
  content: ""; }

.ra-pawn:before {
  content: ""; }

.ra-pawprint:before {
  content: ""; }

.ra-perspective-dice-five:before {
  content: ""; }

.ra-perspective-dice-four:before {
  content: ""; }

.ra-perspective-dice-one:before {
  content: ""; }

.ra-perspective-dice-random:before {
  content: ""; }

.ra-perspective-dice-six:before {
  content: ""; }

.ra-perspective-dice-two:before {
  content: ""; }

.ra-perspective-dice-three:before {
  content: ""; }

.ra-pill:before {
  content: ""; }

.ra-pills:before {
  content: ""; }

.ra-pine-tree:before {
  content: ""; }

.ra-ping-pong:before {
  content: ""; }

.ra-pisces:before {
  content: ""; }

.ra-plain-dagger:before {
  content: ""; }

.ra-player:before {
  content: ""; }

.ra-player-despair:before {
  content: ""; }

.ra-player-dodge:before {
  content: ""; }

.ra-player-king:before {
  content: ""; }

.ra-player-lift:before {
  content: ""; }

.ra-player-pain:before {
  content: ""; }

.ra-player-pyromaniac:before {
  content: ""; }

.ra-player-shot:before {
  content: ""; }

.ra-player-teleport:before {
  content: ""; }

.ra-player-thunder-struck:before {
  content: ""; }

.ra-podium:before {
  content: ""; }

.ra-poison-cloud:before {
  content: ""; }

.ra-potion:before {
  content: ""; }

.ra-pyramids:before {
  content: ""; }

.ra-queen-crown:before {
  content: ""; }

.ra-quill-ink:before {
  content: ""; }

.ra-rabbit:before {
  content: ""; }

.ra-radar-dish:before {
  content: ""; }

.ra-radial-balance:before {
  content: ""; }

.ra-radioactive:before {
  content: ""; }

.ra-raven:before {
  content: ""; }

.ra-reactor:before {
  content: ""; }

.ra-recycle:before {
  content: ""; }

.ra-regeneration:before {
  content: ""; }

.ra-relic-blade:before {
  content: ""; }

.ra-repair:before {
  content: ""; }

.ra-reverse:before {
  content: ""; }

.ra-revolver:before {
  content: ""; }

.ra-rifle:before {
  content: ""; }

.ra-ringing-bell:before {
  content: ""; }

.ra-roast-chicken:before {
  content: ""; }

.ra-robot-arm:before {
  content: ""; }

.ra-round-bottom-flask:before {
  content: ""; }

.ra-round-shield:before {
  content: ""; }

.ra-rss:before {
  content: ""; }

.ra-rune-stone:before {
  content: ""; }

.ra-sagittarius:before {
  content: ""; }

.ra-sapphire:before {
  content: ""; }

.ra-satellite:before {
  content: ""; }

.ra-save:before {
  content: ""; }

.ra-scorpio:before {
  content: ""; }

.ra-scroll-unfurled:before {
  content: ""; }

.ra-scythe:before {
  content: ""; }

.ra-sea-serpent:before {
  content: ""; }

.ra-seagull:before {
  content: ""; }

.ra-shark:before {
  content: ""; }

.ra-sheep:before {
  content: ""; }

.ra-sheriff:before {
  content: ""; }

.ra-shield:before {
  content: ""; }

.ra-ship-emblem:before {
  content: ""; }

.ra-shoe-prints:before {
  content: ""; }

.ra-shot-through-the-heart:before {
  content: ""; }

.ra-shotgun-shell:before {
  content: ""; }

.ra-shovel:before {
  content: ""; }

.ra-shuriken:before {
  content: ""; }

.ra-sickle:before {
  content: ""; }

.ra-sideswipe:before {
  content: ""; }

.ra-site:before {
  content: ""; }

.ra-skull:before {
  content: ""; }

.ra-skull-trophy:before {
  content: ""; }

.ra-slash-ring:before {
  content: ""; }

.ra-small-fire:before {
  content: ""; }

.ra-snail:before {
  content: ""; }

.ra-snake:before {
  content: ""; }

.ra-snorkel:before {
  content: ""; }

.ra-snowflake:before {
  content: ""; }

.ra-soccer-ball:before {
  content: ""; }

.ra-spades:before {
  content: ""; }

.ra-spades-card:before {
  content: ""; }

.ra-spawn-node:before {
  content: ""; }

.ra-spear-head:before {
  content: ""; }

.ra-speech-bubble:before {
  content: ""; }

.ra-speech-bubbles:before {
  content: ""; }

.ra-spider-face:before {
  content: ""; }

.ra-spikeball:before {
  content: ""; }

.ra-spiked-mace:before {
  content: ""; }

.ra-spiked-tentacle:before {
  content: ""; }

.ra-spinning-sword:before {
  content: ""; }

.ra-spiral-shell:before {
  content: ""; }

.ra-splash:before {
  content: ""; }

.ra-spray-can:before {
  content: ""; }

.ra-sprout:before {
  content: ""; }

.ra-sprout-emblem:before {
  content: ""; }

.ra-stopwatch:before {
  content: ""; }

.ra-suckered-tentacle:before {
  content: ""; }

.ra-suits:before {
  content: ""; }

.ra-sun:before {
  content: ""; }

.ra-sun-symbol:before {
  content: ""; }

.ra-sunbeams:before {
  content: ""; }

.ra-super-mushroom:before {
  content: ""; }

.ra-supersonic-arrow:before {
  content: ""; }

.ra-surveillance-camera:before {
  content: ""; }

.ra-syringe:before {
  content: ""; }

.ra-target-arrows:before {
  content: ""; }

.ra-target-laser:before {
  content: ""; }

.ra-targeted:before {
  content: ""; }

.ra-taurus:before {
  content: ""; }

.ra-telescope:before {
  content: ""; }

.ra-tentacle:before {
  content: ""; }

.ra-tesla:before {
  content: ""; }

.ra-thorn-arrow:before {
  content: ""; }

.ra-thorny-vine:before {
  content: ""; }

.ra-three-keys:before {
  content: ""; }

.ra-tic-tac-toe:before {
  content: ""; }

.ra-toast:before {
  content: ""; }

.ra-tombstone:before {
  content: ""; }

.ra-tooth:before {
  content: ""; }

.ra-torch:before {
  content: ""; }

.ra-tower:before {
  content: ""; }

.ra-trail:before {
  content: ""; }

.ra-trefoil-lily:before {
  content: ""; }

.ra-trident:before {
  content: ""; }

.ra-triforce:before {
  content: ""; }

.ra-trophy:before {
  content: ""; }

.ra-turd:before {
  content: ""; }

.ra-two-dragons:before {
  content: ""; }

.ra-two-hearts:before {
  content: ""; }

.ra-uncertainty:before {
  content: ""; }

.ra-underhand:before {
  content: ""; }

.ra-unplugged:before {
  content: ""; }

.ra-vase:before {
  content: ""; }

.ra-venomous-snake:before {
  content: ""; }

.ra-vest:before {
  content: ""; }

.ra-vial:before {
  content: ""; }

.ra-vine-whip:before {
  content: ""; }

.ra-virgo:before {
  content: ""; }

.ra-water-drop:before {
  content: ""; }

.ra-wifi:before {
  content: ""; }

.ra-wireless-signal:before {
  content: ""; }

.ra-wolf-head:before {
  content: ""; }

.ra-wolf-howl:before {
  content: ""; }

.ra-wooden-sign:before {
  content: ""; }

.ra-wrench:before {
  content: ""; }

.ra-wyvern:before {
  content: ""; }

.ra-x-mark:before {
  content: ""; }

.ra-zebra-shield:before {
  content: ""; }

.ra-arcane-mask:before {
  content: ""; }

.ra-aquarius:before {
  content: ""; }

.ra-apple:before {
  content: ""; }

.ra-anvil:before {
  content: ""; }

.ra-ankh:before {
  content: ""; }

.ra-angel-wings:before {
  content: ""; }

.ra-anchor:before {
  content: ""; }

.ra-ammo-bag:before {
  content: ""; }

.ra-alligator-clip:before {
  content: ""; }

.ra-all-for-one:before {
  content: ""; }

.ra-alien-fire:before {
  content: ""; }

.ra-acorn:before {
  content: ""; }

@media (min-width: 992px) {
  #main-container {
    margin-left: 5.5rem;
    width: calc(100% - 6em); } }
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Alegreya.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
@font-face {
  font-family: 'Alegreya';
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Alegreya-Bold.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
/* generic */
body {
  font-weight: 300;
  background-repeat: no-repeat;
  background-position: top right; }

.wrapper {
  background-color: rgba(255, 255, 255, 0.85);
  min-height: 100vh; }

h3 {
  margin-bottom: 5px; }

a {
  color: #773099; }

.modal-footer .btn-primary.submit {
  background-color: #773099; }

a:hover {
  cursor: pointer;
  color: #5d2279; }

hr {
  margin: 10px;
  padding: 0; }

textarea.form-control {
  min-height: 180px; }

b, strong {
  font-weight: bold; }

* {
  scrollbar-width: thin;
  scrollbar-color: #777 transparent; }

*::-webkit-scrollbar {
  width: 12px; }

*::-webkit-scrollbar-track {
  background: transparent; }

*::-webkit-scrollbar-thumb {
  background-color: #777;
  border-radius: 20px;
  border: 3px solid transparent; }

hr.spacer {
  clear: both;
  border: 0 solid;
  width: 0;
  margin: 0;
  padding: 0; }

@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
    max-width: 1200px; } }
.errorlist {
  color: #d9534f; }

.card-tools {
  background-color: #773099;
  color: #fff; }

.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active, .sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active {
  background-color: #773099; }

#full-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10000;
  background-color: #ffffff6e; }

.img-toolbar {
  width: 100%;
  text-align: center;
  padding: 10px;
  position: absolute;
  top: 2vh; }

#full-screen-image {
  text-align: center;
  margin-top: 5vh; }

#full-screen-image img {
  max-height: 94vh;
  max-width: 95vw;
  border: 1px solid #000; }

#admin-menu i,
#menu i {
  padding: 0.4em;
  margin-right: 0.8rem;
  width: 30px;
  display: inline-block;
  height: 1rem; }

.has_badge a,
[class*="sidebar-dark-"] .sidebar .has-badge a {
  color: #ffff00; }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link,
.btn-primary {
  color: #fff;
  background-color: #773099;
  box-shadow: none;
  border-color: transparent; }

.nav-pills .nav-link:not(.active):hover {
  color: #5d2279; }

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #5d2279;
  border-color: #5d2279; }

.btn-primary:active,
.btn-primary.active,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:hover {
  color: #fff;
  background-color: #5d2279;
  border-color: transparent; }

.check-with-label {
  display: none; }

.check-with-label + label {
  cursor: pointer; }

.check-with-label:checked + label {
  color: #773099; }

.dropdown-item:focus, .dropdown-item:hover {
  color: #fff;
  background-color: #5d2279; }

.btn-tool {
  color: rgba(255, 255, 255, 0.8); }

.btn-tool:hover {
  color: #fff;
  background-color: transparent; }

.fa-check-circle {
  color: #5cb85c; }

.fa-times-circle {
  color: #d9534f; }

input[type=file].form-control {
  height: auto; }

label.col-form-label.light {
  font-weight: normal; }

.row > span {
  width: 100%; }

.row.spacer {
  margin-top: 5px;
  margin-bottom: 5px; }

.pagination {
  margin: 5px 0;
  max-width: 500px; }

.page-item.active .page-link {
  background-color: #773099;
  color: #fff;
  border-color: #773099; }

.page-item.active .page-link:hover {
  color: #fff; }

/* menu - navbar */
#menu {
  margin: 0;
  padding: 0;
  padding-bottom: 1em; }
  #menu ul li:first-child div > a {
    color: #ffff00; }
  #menu ul li:first-child div > ul a {
    color: #e3e3e3; }
  #menu ul li:first-child div > ul a:hover {
    color: #777; }
  #menu .current-page {
    float: left;
    color: #fff;
    padding-right: 10px; }

#menu i, #right-menu i, .character-ap i {
  padding-top: 0.25em; }

.navbar {
  border: 0px solid transparent;
  border-radius: 0;
  padding: 0; }
  .navbar .navbar-header {
    font-size: 0.9em; }
    .navbar .navbar-header .icon-bar-list {
      float: right;
      margin-top: 4px; }
  .navbar a:hover {
    text-decoration: none; }

.bd-navbar {
  position: sticky;
  top: 0;
  z-index: 501; }

.brand-text {
  padding: 0 45px;
  padding-right: 5px;
  font-size: 18px;
  background-image: url("../images/morrigan-logo-small.png");
  background-repeat: no-repeat;
  background-position: 5px center; }

.sidebar-mini.sidebar-collapse .logo-xs {
  padding-top: 8px; }

.navbar-brand {
  color: #fff;
  float: left;
  height: 50px;
  padding: 15px 40px;
  padding-right: 5px;
  font-size: 18px;
  line-height: 20px;
  background-image: url("../images/morrigan-logo-small.png");
  background-repeat: no-repeat;
  background-position: 5px center; }

#sidebar-admin {
  border-bottom: 1px solid #4b545c; }

#sidebar-admin-2 {
  border-top: 1px solid #4b545c; }

.nav-link {
  width: 100%; }

#status-div {
  padding: 0.2em; }

.brand-link {
  line-height: 1.7; }

#select-character-menu .nav > li > a {
  padding: 9px 10px;
  color: rgba(255, 255, 255, 0.8); }

.nav > li > div > a,
.nav > li > a {
  padding: 15px 10px;
  display: inline-block; }
.nav > li > a:hover {
  color: #fff;
  background-color: transparent; }
.nav > li > a:focus, .nav > li > a:hover {
  text-decoration: none; }
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
  background-color: transparent;
  border-color: transparent; }

#menu .badge {
  height: 1.7em;
  margin-top: .3em;
  margin-left: .4em; }

#menu-base {
  padding-left: 1em; }

#menu ul li.selected:first-child a,
.navbar .navbar-nav > li.selected > a {
  background-color: #fff;
  color: #000;
  border-color: #fff;
  text-shadow: none; }

@media (min-width: 768px) {
  .navbar-header {
    display: inline-flex; } }
.container {
  padding-top: 1.5em; }

@media (max-width: 500px) {
  #status-div {
    margin-left: 10px; } }
.selected .badge {
  background-color: #773099; }

.help-text {
  display: block;
  background-color: #e3e3e3;
  padding: 0.2em 0.6em; }

/* character status */
#character-div {
  display: inline-block;
  padding-left: 10px; }

#character-status.three-col-status {
  width: 300px; }

#character-status i {
  width: 15px;
  align-self: flex-end;
  margin-bottom: 5px;
  margin-left: 1px;
  margin-right: 6px; }
#character-status .progress {
  height: 5px;
  width: 40px;
  display: inline-block; }
#character-status .progress.characters-fp {
  color: red; }
#character-status > span {
  font-size: 1.3em;
  padding: 0 4px; }
#character-status .max-score {
  font-size: 0.7em;
  align-self: flex-end;
  margin-bottom: 2px;
  margin-left: 1px; }

.character-ap {
  color: #ffff00; }

.character-fp {
  color: #5cb85c; }

.character-hp {
  color: #d9534f; }

.character-mp {
  color: #fff; }

/* characters descriptions */
.characters {
  list-style: none;
  padding: 0; }
  .characters > li {
    background-color: white; }
  .characters .character-description,
  .characters .character-background,
  .characters .character-current-description {
    padding: 5px; }
  .characters .character-full-image {
    float: left;
    margin: 1em; }
    .characters .character-full-image img {
      max-width: 200px;
      max-height: 200px;
      border: 1px solid #ddd;
      border-radius: 5px; }
  .characters .character-view-detail {
    list-style: none;
    display: block;
    padding: 0 5px;
    font-size: 1.6em;
    float: right; }
    .characters .character-view-detail li {
      display: inline-block;
      width: 28px;
      padding-right: 1.2em;
      text-align: center; }
  .characters .character-trust {
    padding-left: 0.5em;
    font-size: 0.8em;
    color: #773099; }
  .characters .character-temporary-trust {
    padding-left: 0.5em;
    font-size: 0.8em;
    color: #f0ad4e; }
  .characters .character-health,
  .characters .character-race {
    font-style: italic; }
  .characters .character-items {
    clear: both;
    width: 100%; }
    .characters .character-items .item-icon, .characters .character-items .item-name, .characters .character-items .item-description {
      padding: 0.2em 0.5em;
      margin: 0.2em; }
    .characters .character-items .item-image img {
      width: 100px;
      border-radius: 0.25em;
      border: 1px #ccc solid; }
    .characters .character-items .item-description {
      font-style: italic; }
    .characters .character-items .item-natural,
    .characters .character-items .item-equipped {
      text-align: center; }
    .characters .character-items .item-capacity {
      text-align: right;
      padding: 0 1em; }
    .characters .character-items th {
      font-weight: normal;
      font-variant: small-caps;
      font-size: 0.9em;
      padding: 0 0.2em; }
    .characters .character-items tr:nth-child(even) td {
      background-color: #E8E8FF;
      background-color: #e3e3e3; }

.sub-characters.disabled {
  display: none; }

.sub-characters {
  list-style: none;
  padding: 0; }
  .sub-characters .character-name {
    max-width: calc(100% - 70px);
    display: inline-block; }
  .sub-characters .attribute {
    display: inline-block;
    padding-left: 0.5em; }

/* character sheet */
#character-sheet,
#characters-sheet {
  display: none; }
  #character-sheet .sheet-item-icon,
  #characters-sheet .sheet-item-icon {
    text-align: center;
    width: 3em; }
  #character-sheet .character-detail-general > div > i,
  #characters-sheet .character-detail-general > div > i {
    font-size: 1.2em;
    vertical-align: super; }
  #character-sheet .character-detail-main-attribute,
  #characters-sheet .character-detail-main-attribute {
    font-size: 2em;
    padding: 0 0.1em 0 0.2em; }
  #character-sheet .character-detail-main-attribute-max,
  #characters-sheet .character-detail-main-attribute-max {
    font-size: 0.8em; }

#characters-detail .table thead th {
  text-align: center;
  vertical-align: middle; }
#characters-detail .table thead th.ability-header {
  width: 7em; }
#characters-detail .table td {
  text-align: right;
  padding-right: 2em; }
#characters-detail .table th.ability {
  font-style: italic;
  font-weight: normal; }

.edit-form textarea {
  width: 100%;
  margin-bottom: 0.5em;
  height: 210px;
  font-size: 0.8em; }

#sheet-notes {
  padding: 0.5em 1em 2em 1em;
  color: #555; }

/* items */
.items {
  width: 100%;
  list-style: none;
  margin: 0;
  list-style: none;
  display: block;
  padding: 0 5px;
  font-size: 1.6em;
  float: none; }
  .items li {
    display: inline-block;
    width: 28px;
    padding-right: 1.2em;
    text-align: center; }

/* logs, location */
.log-inner {
  padding: 0.5em; }

.log-inner-image {
  display: block;
  float: left;
  padding: 0 0.5em; }
  .log-inner-image img {
    width: 100px;
    border-radius: 0.25em;
    border: 1px #ccc solid; }

.log-inner-desc {
  display: block;
  float: left;
  padding: 0.5em 1em; }

ul.logs {
  list-style: none;
  clear: both;
  padding: 0; }

.log-actions {
  list-style: none;
  display: block;
  padding: 0 5px;
  font-size: 1.6em;
  float: right;
  position: absolute;
  line-height: 1.1em;
  margin-top: -0.2em;
  right: 0.1em; }
  .log-actions li {
    display: inline-block;
    width: 28px;
    padding-right: 1.2em;
    text-align: center; }

.actions,
.filter-logs {
  list-style: none;
  display: block;
  padding: 0 5px;
  font-size: 1.6em;
  float: right;
  position: absolute;
  background-color: #e3e3e3;
  font-size: 2.2em;
  margin: 10px; }
  .actions li,
  .filter-logs li {
    display: inline-block;
    width: 28px;
    padding-right: 1.2em;
    text-align: center; }
  .actions li,
  .filter-logs li {
    margin: 0 2px;
    width: auto;
    padding: 0 0.1em; }

.filter-logs {
  position: relative;
  float: left;
  font-size: 1.4em; }

.actions {
  right: 20px; }

@media (max-width: 500px) {
  ul.logs {
    padding-top: 50px; }

  .filter-logs {
    margin-top: 50px; } }
#maps, #action-log, #action-log-selector {
  display: none; }

.action-logs li {
  display: inline-block;
  text-align: center;
  border: 1px solid #ddd;
  border-right-width: 0;
  padding: 0.3em 0.6em; }
.action-logs li:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px; }
.action-logs li:last-child {
  border-right-width: 1px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; }
.action-logs li:hover {
  cursor: pointer;
  background-color: #e9ecef;
  border-color: #dee2e6; }
.action-logs li.active {
  background-color: #773099;
  color: #fff;
  border-color: #773099; }
.action-logs li.active:hover {
  background-color: #5d2279;
  color: #fff; }

.character-image,
.location-image,
.log-image {
  float: left;
  margin-right: 6px; }

.log-image i {
  display: inline-block;
  font-size: 1.6em;
  padding-left: 0.15em;
  vertical-align: middle; }

.character-image img {
  height: 40px;
  max-width: 200px; }

.log-image img {
  height: 30px;
  max-width: 50px; }

#chat-players,
#chat-characters {
  padding: 0.4em 0.2em;
  list-style: none;
  font-size: 0.9em; }

.chat-loader {
  padding-bottom: 12px; }

.chat-loader > span {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: relative;
  animation: loader10-uxh1sjo4g 1s ease alternate infinite;
  animation-delay: 0.4s;
  top: 50%;
  margin: -24px auto 0; }
  .chat-loader > span::after, .chat-loader > span::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    animation: loader10-uxh1sjo4g 1s ease alternate infinite; }
  .chat-loader > span::before {
    left: -24px;
    animation-delay: 0.2s; }
  .chat-loader > span::after {
    right: -24px;
    animation-delay: 0.6s; }
@keyframes loader10-uxh1sjo4g {
  0% {
    box-shadow: 0 16px 0 -16px #777; }
  100% {
    box-shadow: 0 16px 0 #777; } }
.direct-chat .card-body {
  min-height: 200px;
  resize: vertical;
  margin: 0;
  padding: 0; }

.direct-chat .card-body .row {
  height: calc(100% - 22px); }

.chat-character-list {
  background-color: rgba(0, 0, 0, 0.05);
  height: 100%;
  overflow: auto; }

.direct-chat-messages {
  height: 100%;
  padding: 0.4em 0.8em; }
  .direct-chat-messages p {
    margin-bottom: 0.4em; }

.alt-chat {
  width: 100%; }

.miss {
  padding: 0 0.2em; }

.dice-roll {
  padding: 0 0.5em; }

.dice-sum {
  padding: 0 0.5em;
  font-weight: bold;
  color: #773099; }

.dice-detail {
  font-size: 0.85em; }

.dice-result-min {
  color: #d9534f;
  font-weight: bold; }

.dice-result-max {
  color: #5cb85c;
  font-weight: bold; }

.direct-chat-leave,
.direct-chat-join {
  font-size: 0.8rem;
  font-style: italic; }

#location-chat {
  width: 100%;
  padding: 0;
  margin: 0; }

#location-chat > div {
  z-index: 100; }

.help-msg {
  display: block;
  font-size: 0.9em;
  color: #ff7e7b; }

#document-selector {
  float: left; }

#toggle-music {
  float: right; }

#toggle-music .btn {
  font-size: 0.78em;
  padding: .1rem .2rem; }

#toggle-music .active .fa-ban {
  display: none; }

.audio-volume-container > input[type=range] {
  width: 50px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #aaa;
  border-radius: 10px;
  height: 8px; }

#initiative {
  clear: both; }
  #initiative .breadcrumb {
    margin: 0; }
  #initiative .no-form .breadcrumb {
    border-radius: 0 0 .25rem .25rem; }
  #initiative h4 {
    font-size: 1.1rem;
    padding: 0.1rem 1rem;
    margin: 0;
    background-color: #966fa8;
    color: #fff;
    font-weight: normal; }
  #initiative form {
    font-size: 0.8rem;
    padding: 0 1rem;
    margin: 0;
    background-color: #e9ecef;
    border-radius: 0 0 0.25rem 0.25rem; }
  #initiative input {
    height: 1.8rem;
    max-width: 120px; }
  #initiative label {
    margin-bottom: 0.1rem; }

.top-toolbar {
  min-height: 3rem;
  padding-bottom: 2em; }

.character-detail-general {
  padding: 1.2em 1.5em; }

.character-detail-name {
  display: block;
  font-weight: bold;
  font-size: 0.8em; }

#chan-list {
  padding: 0.4em 0.2em;
  list-style: none;
  font-size: 0.9em;
  margin: 0; }

#btn-chat-player-log,
#btn-chat-log,
.chat-character-btn {
  margin: 0.2em 0;
  width: 100%; }

#btn-chat-player-log.active,
#btn-chat-log.active,
.btn-secondary:not(:disabled):not(.disabled).chat-character-btn.active {
  background-color: #773099; }

#btn-chat-player-log:hover,
#btn-chat-log:hover,
.btn-secondary:not(:disabled):not(.disabled).chat-character-btn:hover {
  cursor: pointer;
  background-color: #5d2279; }

.alt-chat,
#chat-player-log,
#chat-log {
  overflow-y: auto;
  display: block;
  position: absolute;
  width: 100%; }

.warn-chat {
  text-align: center;
  font-size: 0.9em;
  color: white;
  display: none; }

.warn-chat.active {
  display: block; }

#warn-in-game {
  background-color: #5cb85c; }

#warn-off-game {
  background-color: #f0ad4e; }

.chat-character-list,
#chat-players,
#chat-characters,
#chat-player-log,
#chat-log,
.alt-chat {
  display: none; }

.chat-character-list.active,
#chat-characters.active,
#chat-log.active,
#chat-player-log.active,
#chat-players.active,
.alt-chat.active {
  display: block; }

.chat-character-name, .chat-myself {
  padding: 0.2em 0.4em;
  border-radius: calc(.25rem - 1px); }

.chat-myself {
  font-style: italic; }

.chat-character-name:hover {
  padding: 0.2em 0.4em;
  background-color: #5d2279;
  border-color: #5d2279;
  color: #fff;
  cursor: pointer; }

.chat-character-name.disabled {
  color: #aaa; }

.card .card-header {
  border-radius: 0; }

.card .card-header:first-child {
  border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0; }

.card.collapsed .card-header:first-child {
  border-radius: calc(.25rem - 1px); }

.card-footer {
  border-top: 1px solid #ddd; }

.card .btn-plus {
  display: none; }

.card.collapsed .btn-plus {
  display: inline-block; }

.card.collapsed .btn-minus,
.card.collapsed .card-body,
.card.collapsed .card-footer {
  display: none; }

@media (min-width: 992px) {
  .direct-chat {
    height: calc(100vh - 5rem); }

  .direct-chat .card-body {
    height: 100%;
    resize: none; }

  .card.collapsed {
    width: 100%; }

  .card.collapsed .btn-minus,
  .card.collapsed .btn-plus {
    display: none; }

  .card.collapsed .card-body,
  .card.collapsed .card-footer {
    display: block; }

  .card.card.collapsed .card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0; } }
.msg-me {
  font-style: italic; }

.direct-chat-text {
  font-size: 1.1em; }

.in-game .direct-chat-text {
  font-family: "Alegreya","Times New Roman", Times, Georgia, serif;
  font-size: 1.3em; }

.direct-chat-primary .right > .direct-chat-text.no-decoration {
  color: #444; }

.no-decoration.direct-chat-text::after, .no-decoration.direct-chat-text::before {
  border-right-color: transparent; }

.direct-chat-primary .right > .no-decoration.direct-chat-text::after, .direct-chat-primary .right > .no-decoration.direct-chat-text::before {
  border-left-color: transparent; }

.direct-chat-icon {
  text-align: center;
  background-color: #eee;
  font-size: 1.2em;
  padding: 0.4em; }

.no-decoration.direct-chat-text,
.direct-chat-primary .right > .no-decoration.direct-chat-text {
  background: transparent;
  border: 1px solid transparent; }

.direct-chat-primary .right > .direct-chat-text {
  background: #aa62cc;
  border-color: #aa62cc; }

.direct-chat-primary .right > .direct-chat-text::after, .direct-chat-primary .right > .direct-chat-text::before {
  border-left-color: #aa62cc; }

.location-image img {
  max-height: 300px;
  max-width: 300px;
  margin-right: 10px;
  margin-bottom: 0.2em;
  border-radius: 0.25em;
  border: 1px #ccc solid; }

.location-image img:hover {
  cursor: pointer; }

.parent-location-image img {
  max-height: 140px;
  max-width: 140px;
  margin-right: 0; }

ul.parent-images {
  max-width: 300px;
  margin: 0;
  padding: 0;
  margin-top: 0;
  list-style: none; }

ul.parent-images li {
  display: inline-block;
  padding: 0.2em 0.3em; }

.log-date {
  font-size: 0.9em;
  color: #777;
  margin-left: 1em; }

.log-name {
  margin-left: 1em; }

.log-header {
  font-size: 0.75em; }

.log-content p {
  margin-bottom: 0.2rem; }

.log-content img {
  max-width: 300px; }

.log-to, .log-from {
  color: #f0ad4e;
  font-weight: bold; }

.nav > li > a.level-2 {
  padding-left: 1rem; }

.nav > li > a.level-3 {
  padding-left: 2rem; }

.nav > li > a.level-4 {
  padding-left: 3rem; }

.nav > li > a.level-5 {
  padding-left: 4rem; }

.history-book h1, .history-book h2, .history-book h3, .history-book h4, .history-book h5, .history-book p {
  font-family: "Alegreya","Times New Roman", Times, Georgia, serif;
  margin-bottom: 1rem; }
.history-book hr {
  border-top: 1px solid black;
  margin-bottom: 2rem; }
.history-book em {
  font-family: "Roboto","Helvetica Neue",Arial,sans-serif;
  font-weight: 100;
  font-size: 1.1rem; }
.history-book p {
  font-size: 1.2rem; }
.history-book .log-to, .history-book .log-from {
  color: unset;
  font-weight: unset;
  font-style: italic; }
.history-book .log-header {
  font-size: 1rem;
  padding: 0.4rem; }
.history-book p {
  margin-bottom: 0.2rem; }
.history-book p img {
  max-width: 400px;
  max-height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ccc; }

.log-head span {
  margin-right: 3px; }

/* buttons */
.btn-group.btn-check > .btn:last-child:not(:first-child),
.btn-group.btn-check > .btn:first-child:not(:last-child),
.btn-group.btn-check > .btn:not(:first-child):not(:last-child) {
  border-radius: 4px; }

.btn-group.btn-check > .btn {
  padding: 0 8px;
  margin: 2px 5px; }

.btn-group.btn-check > .btn-secondary input {
  display: none; }

.btn-group.btn-check > .btn-secondary {
  background-image: none;
  white-space: nowrap; }

.btn-group.btn-check > .btn-secondary.active {
  background-color: #773099; }

.btn-group.btn-check > .btn-secondary:focus,
.btn-group.btn-check > .btn-secondary:hover {
  background-color: #5d2279; }

/* bootstrap callout */
.bs-callout-hide {
  color: #aaa; }

.characters .bs-callout {
  margin: 0; }

.bs-callout {
  min-height: 40px;
  padding: 9px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  background-color: #fff; }
  .bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px; }
  .bs-callout h4.character-name {
    margin-bottom: 0; }
  .bs-callout p:last-child {
    margin-bottom: 0; }
  .bs-callout code {
    border-radius: 3px; }

.bs-callout + .bs-callout {
  margin-top: -5px; }

.bs-callout-default {
  border-left-color: #777; }
  .bs-callout-default > div > .attribute,
  .bs-callout-default > div > h4 {
    color: #777; }

.bs-callout-primary {
  border-left-color: #773099; }
  .bs-callout-primary > div > .attribute,
  .bs-callout-primary > div > h4 {
    color: #773099; }

.bs-callout-success {
  border-left-color: #5cb85c; }
  .bs-callout-success > div > .attribute,
  .bs-callout-success > div > h4 {
    color: #5cb85c; }

.bs-callout-danger {
  border-left-color: #d9534f; }
  .bs-callout-danger > div > .attribute,
  .bs-callout-danger > div > h4 {
    color: #d9534f; }

.bs-callout-warning {
  border-left-color: #f0ad4e; }
  .bs-callout-warning > div > .attribute,
  .bs-callout-warning > div > h4 {
    color: #f0ad4e; }

.bs-callout-info {
  border-left-color: #5bc0de; }
  .bs-callout-info > div > .attribute,
  .bs-callout-info > div > h4 {
    color: #5bc0de; }

/* dices */
#dice-canvas {
  display: none;
  background-color: transparent;
  position: absolute;
  z-index: 1000; }

/* icon colors */
.filter-logs .fa-check,
.log-actions .fa-check {
  color: #5cb85c; }

.filter-logs .disabled .fa-check:hover,
.log-actions .disabled .fa-check:hover {
  color: #9ce59c; }

.items i,
.characters .fa-eye,
.characters .fa-check {
  color: #773099; }

.items .disabled i:hover,
.characters .disabled .fa-eye:hover,
.characters .disabled .fa-check:hover {
  color: #5d2279; }

.filter-logs .disabled .fa-exclamation-triangle:hover,
.filter-logs .fa-exclamation-triangle,
.log-actions .disabled .fa-exclamation-triangle:hover,
.log-actions .fa-exclamation-triangle {
  color: #f0ad4e; }

.filter-logs .disabled .fa-exclamation-triangle:hover,
.log-actions .disabled .fa-exclamation-triangle:hover {
  color: #ffc97c; }

.filter-logs .fa-ban,
.log-actions .fa-ban {
  color: #d9534f; }

.filter-logs .disabled .fa-ban:hover,
.log-actions .disabled .fa-ban:hover {
  color: #ff7e7b; }

.image-note .fa-book:hover,
.description-note .fa-book:hover,
.characters .disabled .fa-book:hover,
.log-actions .disabled .fa-pencil:hover {
  color: #773099; }

.items .disabled i,
.action-logs-icons .disabled i,
.characters .disabled .fa-check,
.characters .disabled .fa-eye,
.characters .disabled .fa-book,
.filter-logs .disabled .fa-ban,
.log-actions .disabled .fa-ban,
.log-actions .disabled .fa-pencil,
.description-note .fa-book,
.image-note .fa-book,
.filter-logs .disabled .fa-exclamation-triangle,
.log-actions .disabled .fa-exclamation-triangle,
.filter-logs .disabled .fa-check,
.log-actions .disabled .fa-check {
  color: #aaa; }

.image-note {
  padding: 0.2em 0.3em;
  margin-left: -2.25em;
  background-color: #fff;
  border-radius: 0.3em 0 0 0.3em; }

.parent-images .image-note {
  margin-left: -1.6em; }

.md-preview {
  background-color: #efefef;
  border-radius: 3px;
  overflow-y: scroll; }

#drag-image {
  position: absolute;
  z-index: 1; }

#svg-map {
  z-index: 100;
  position: absolute;
  font-size: 1.2rem;
  font-weight: bold; }

.direct-chat-msg .icon {
  font-size: 1.6em;
  background-color: #eee;
  padding: .24em .28em; }

.target-hover:hover {
  cursor: crosshair; }

#live-over-image {
  position: absolute; }

.dz-message {
  font-size: 2em;
  padding: 1em; }

.chat-image {
  display: block;
  max-width: 80%;
  margin: 0.5em auto;
  border: 2px solid #ccc; }

.light-theme a {
  color: #555; }
.light-theme a.btn-secondary {
  color: #fff; }
.light-theme a:hover {
  color: #777; }
.light-theme a.btn-secondary:hover {
  color: rgba(255, 255, 255, 0.8); }
.light-theme textarea:focus,
.light-theme input[type]:focus,
.light-theme .uneditable-input:focus {
  border-color: rgba(126, 126, 126, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 126, 126, 0.6);
  outline: 0 none; }
.light-theme .modal-footer .btn-primary.submit,
.light-theme .nav-pills .nav-link.active, .light-theme .nav-pills .show > .nav-link,
.light-theme .btn-primary {
  background-color: transparent;
  color: #777; }
.light-theme .nav-pills .nav-link:not(.active):hover {
  color: white; }
.light-theme .modal-footer .btn-primary.submit,
.light-theme .input-group .btn-primary,
.light-theme #btn-chat-player-log.active,
.light-theme #btn-chat-log.active,
.light-theme .btn-secondary:not(:disabled):not(.disabled).chat-character-btn.active,
.light-theme .sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active, .light-theme .sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active,
.light-theme .page-item.active .page-link,
.light-theme .action-logs li.active,
.light-theme .btn-primary:not(:disabled):not(.disabled).active,
.light-theme .btn-primary:not(:disabled):not(.disabled):active,
.light-theme .show > .btn-primary.dropdown-toggle {
  background-color: white;
  color: #555;
  border-color: #777; }
.light-theme .page-link,
.light-theme .action-logs li {
  background-color: transparent;
  border-color: transparent;
  color: #777;
  border-right-width: 1px; }
.light-theme .page-item.disabled .page-link {
  background-color: transparent;
  border-color: transparent; }
.light-theme .dropdown-item:focus, .light-theme .dropdown-item:hover,
.light-theme .modal-footer .btn-primary.submit:hover,
.light-theme .input-group .btn-primary:hover,
.light-theme .page-link:hover,
.light-theme .action-logs li:hover,
.light-theme .btn-primary.active,
.light-theme .btn-primary.focus,
.light-theme .btn-primary:hover {
  color: white;
  background-color: #777;
  border-color: transparent; }
.light-theme .direct-chat-infos {
  font-size: .775rem; }
.light-theme .direct-chat-primary .right > .direct-chat-text,
.light-theme .direct-chat-text {
  background: transparent;
  border: 0 solid transparent;
  color: #777; }
.light-theme .direct-chat-primary .right > .direct-chat-text::after,
.light-theme .direct-chat-primary .right > .direct-chat-text::before,
.light-theme .direct-chat-text::after, .light-theme .direct-chat-text::before {
  border-right-color: transparent;
  border-left-color: transparent; }
.light-theme #btn-chat-player-log,
.light-theme #btn-chat-log,
.light-theme .btn-secondary:not(:disabled):not(.disabled).chat-character-btn {
  background-color: white;
  color: #777;
  border-color: transparent; }
.light-theme .chat-character-name:hover {
  background-color: #777;
  border-color: #777;
  color: white; }
.light-theme #btn-chat-player-log:hover,
.light-theme #btn-chat-log:hover,
.light-theme .btn-secondary:not(:disabled):not(.disabled).chat-character-btn:hover {
  background-color: #777;
  border-color: #777;
  color: white; }
.light-theme .chat-character-list {
  background-color: transparent; }
.light-theme .warn-chat.active {
  display: block; }
.light-theme #warn-in-game {
  background-color: transparent;
  color: #5cb85c; }
.light-theme #warn-off-game {
  background-color: transparent;
  color: #f0ad4e; }

/*
#map-container {
	display: block;
	overflow: hidden;
	border: 1px solid #cccccc;
	box-sizing: border-box;
	position: relative;
	cursor: move;
	margin: 1em;
}

#map-container > div {
	max-height: 500px;
	padding-right: 0;
	padding-left: 0;
}

#drag-image {
	left: 0;
	pointer-events: none;
	position: relative;
	top: 0;
	-moz-user-select: none;
}
*/

/*# sourceMappingURL=styles.css.map */
