{% load i18n %}
{% load mybootstrap %}
<form class='action-form' method="post" enctype="multipart/form-data"
      action="{{action_url}}" name="action-form">{% csrf_token %}

{% if form.non_field_errors or warnings %}
<div class="alert alert-danger">
<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
{% for error in form.non_field_errors %}
<p>{{error}}</p>
{% endfor %}
{% for warning in warnings %}
<p>{{warning}}</p>
{% endfor %}
</div>
{% endif %}
{% for field in form.hidden_fields %}
{{field}}
{% endfor %}
{% for field in form.visible_fields %}
<div class='row spacer'>
{% bs_field field "col-12" "col-12" %}
</div>{% endfor %}
</form>

<script>
    (function($){
        $('.modal-action .submit').show();
        $('.modal-title').html("<i class='{{action_icon}}'></i> {{action_label}}");
    })(jQuery);
</script>

