{% load i18n staticfiles %}{% load mybootstrap %}{% if pdf %}<!doctype html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="{% static 'morrigan/css/styles.css' %}" />
    <script type='text/javascript' src="{% static 'morrigan/js/extra.js' %}"></script>
</head>
<header>
    Morrigan - {{current_date}}
</header>
{% endif %}

<div class="row history-book">
    {% if not pdf %}
    <div class="col-md-2 mb-3">
        <div class="btn-group mb-2 btn-group-sm" role="group">
            <a class="btn btn-secondary" href="{% url 'export-pdf-actionlog' character.slug %}" target="_blank">
                <i class="fa fa-file-pdf-o" aria-hidden="true"></i> &nbsp;PDF</a>
            <a class="btn btn-secondary"
               href="{% url 'export-md-actionlog' character.slug %}"
               target="_blank">
                <i class="fa fa-file-text-o" aria-hidden="true"></i> &nbsp;MD</a>
        </div>
        <ul class="nav nav-pills flex-md-column">
        {% for chapter in chapters %}
            <li class="nav-item">
                <a data-toggle="tab" class="level-{{chapter.level}} nav-link{% if forloop.counter0 == 0%} active{% endif %}"
                   href="#chapter-{{chapter.id}}">
                    {{chapter.name}}
                </a>
            </li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
    <div class="col-md-10 tab-content">
        {% for chapter in chapters %}
        <div id="chapter-{{chapter.id}}"
             class="tab-pane {% if forloop.counter0 == 0%}active{% else %}fade{% endif%}">
            <h{{chapter.level}}>{{chapter.name}}</h{{chapter.level}}>
            <hr>
            {{chapter.content|safe}}
        </div>
        {% endfor %}
    </div>
</div>
{% if pdf %}
</html>
{% endif %}