{% extends "main.html" %}{% load i18n %}

{% block main %}
{% if is_game_master %}
<div id='action-log-selector'>
</div>
{% endif %}
<div id='action-log'>
</div>
{% endblock %}

{% block inlinejs %}
    var rp_mode = {% if RP_MODE %}true{% else %}false{% endif %};
    var current_character = "{{character.slug}}";
    var getMenuUrl = '{% url "character-menu" character.slug 'log' %}';
    var getActionLogUrl = '{% url "character-log" character.slug %}';
    var getStatusUrl = '{% url "status" character.slug %}';
    var log_parts = '{% url "set-log" 1 'R' %}'.split('/');
    {% if is_game_master %}
    var is_game_master = true;
    var getActionLogChooserUrl = '{% url "character-log-chooser" character.slug %}';
    {% endif %};
    var baseSetLogUrl = ''
    for (idx=0;idx<(log_parts.length-3);idx++){
        baseSetLogUrl += log_parts[idx] + "/";
    }
{% endblock %}
