<div class="action-result">
{{messages|safe}}
</div>
<script>
    (function($){
        $('.modal-action .submit').hide();
        $('.modal-action .modal-title').html("{{action_label}}");
        clean_action_list();
        $(".modal-action .btn-default").focus();
    })(jQuery);
</script>
