{% load i18n %}
<div id='chat-container' class='col-12 col-lg-6 order-lg-12'>
    <form id="chat-form" onsubmit="return false;">
        <div class="chat">
            <div class="card direct-chat direct-chat-primary collapsed">
                <div class="card-tools">
                    <button type="button" class="btn btn-tool btn-minus"
                            data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool btn-plus"
                            data-widget="collapse">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
                <div id="initiative"></div>
                <div class="card-body" id="location-chat">
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <input id="chat-message-input" type="text" class="form-control">
                        <span class="input-group-append">
                        <button id="chat-message-submit" type="button"
                                class="btn btn-primary">
                            {% trans "Send" %}
                        </button>
                      </span>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
