{% load i18n %}
{% load mybootstrap %}
{{form.media}}
<form class='edit-form' method="post" enctype="multipart/form-data"
      action="{% url edit_url url_arg %}"
      name="edit-form">{% csrf_token %}

{% if form.non_field_errors or warnings %}
<div class="alert alert-danger">
<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
{% for error in form.non_field_errors %}
<p>{{error}}</p>
{% endfor %}
</div>
{% endif %}
{% for field in form.hidden_fields %}
{{field}}
{% endfor %}
{% for field in form.visible_fields %}
{% for field_name, header in headers %}
{% if field.name == field_name %}
<h3>{{header}}</h3>{% endif %}{% endfor %}
    {% if field.field.markdown %}
        <div class="form-group row">
            <label class="control-label col-12">{{field.label}}</label>
            <div class="col-sm-6">
                {{field}}
            </div>
            <div class="col-sm-6 md-preview" id="{{field.auto_id}}_preview">
            </div>
        </div>
    {% else %}
        {% if field.field.large %}
        {% bs_field field "col-12" "col-12" %}
        {% else %}
        {% bs_inline_field field %}
        {% endif %}
    {% endif %}
{% endfor %}
</form>

<script>
    (function($){
        $('.modal-edit .submit-edit').show();
        $('.modal-edit .modal-title').html("<i class='{{action_icon}}'></i> {{action_label}}");
    })(jQuery);
    {% for field in form.visible_fields %}
    {% if field.field.markdown %}
    register_live_md("{{field.auto_id}}");
    {% endif %}
    {% endfor %}
</script>