{% load i18n %}<div class="action-result">
{% trans "Changes saved." %}
</div>
<script>
    (function($){
        $('.modal-edit .submit-edit').hide();
        $('.modal-edit .modal-title').html("<i class='{{action_icon}}'></i> {{action_label}}");
        clean_action_list();
    })(jQuery);
</script>
