{% extends "base.html" %}
{% load i18n static %}

{% block main %}<div id="content-main">

<form method="post">{% csrf_token %}
<div>
{% if form.errors %}
    <p class="errornote">
    {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
    </p>
{% endif %}
<fieldset>

<div class="row p-2">
    <div class="col-12">{{ form.stylesheet.errors }}</div>
    <div class="col-12">{{ form.stylesheet.label_tag }}</div>
    <div class="col-12">{{ form.stylesheet }}</div>
</div>

<div class="row p-2">
    <div class="col-12">
        <input type="submit" value="{% trans 'Change' %}"
           class="btn btn-primary">
    </div>
    <div class="col-12 p-4">
        <p><a href="/">{% trans "Back" %}</a></p>
    </div>
</div>

</fieldset>

</div>
</form></div>

{% endblock %}
