{% extends "main.html" %}{% load i18n %}

{% block main %}
<div id='action-list'>
</div>
<div id='location'>
</div>
{% endblock %}

{% block inlinejs %}
    var rp_mode = {% if RP_MODE %}true{% else %}false{% endif %};
    var current_character = "{{character.slug}}";
    var getMenuUrl = '{% url "character-menu" character.slug 'location' %}';
    var baseActionsUrl = '{% url "action-list" character.slug %}';
    var getLocationUrl = '{% url "location" character.slug %}';
    var getStatusUrl = '{% url "status" character.slug %}';
    var getShapeUrl = '';
    var parts = '{% url "shape-simple" 'dummy' %}'.split('/');
    for (idx=0;idx<(parts.length-2);idx++){
        getShapeUrl += parts[idx] + "/";
    }
    var baseDoActionUrl = '';
    parts = '{% url "do-action" character.slug 'default' %}'.split('/');
    for (idx=0;idx<(parts.length-1);idx++){
        baseDoActionUrl += parts[idx] + "/";
    }
{% endblock %}

