{% extends "main.html" %}{% load i18n %}
{% block inlinecss %}{% if game.custom_css %}
{{game.custom_css|safe}}
{% endif %}{% endblock %}

{% block main %}
<div id='action-list'></div>
<div id='location'></div>
{% if game.display_map %}
<div id='maps'>
    <div id='full-map'></div>
    <div id='live-map'></div>
</div>
{% endif %}
{% if game.display_action_log %}
<div id="action-log-container"></div>
{% endif %}
{% if game.display_character_log %}
{% if is_game_master %}
<div id='characters-sheet'></div>
{% else %}
<div id='character-sheet'></div>
{% endif %}
{% endif %}

<div id="documents-hidden"></div>
{% endblock %}

{% block inlinejs %}
    var display_location = {% if game.display_location %}true{%else%}false{% endif %};
    var rp_mode = {% if RP_MODE %}true{% else %}false{% endif %};
    var can_edit_actionlog = {% if game.can_edit_actionlog %}true{% else %}false{% endif %};
    var is_admin = {% if requ %}true{% else %}false{% endif %};
    var current_character = "{{character.slug}}";
    var getMenuUrl = '{% url "character-menu" character.slug 'location' %}';
    /*var getMenuUrl = '{% url "character-menu" character.slug 'log' %}';*/
    var getDocumentUrl = '{% url "character-documents" character.slug %}';
    var getSingleDocumentUrl = '{% url "character-document" character.slug "d" %}'.slice(0, -2);
    var getHiddenDocumentUrl = '{% url "character-documents-hidden" character.slug %}';
    var getSelectCharacterMenuUrl = '{% url "character-selector" character.slug %}';
    var getCharacterSheetUrl = '{% url "character-sheet" character.slug %}';
    var getActionLogUrl = '{% url "character-log" character.slug %}';
    var getActionLogIconsUrl = '{% url "character-log-icons" character.slug %}';
    var getStatusUrl = '{% url "status" character.slug %}';
    var baseActionsUrl = '{% url "action-list" character.slug %}';
    var getLocationUrl = '{% url "location" character.slug %}';
    var getMapUrl = '{% url "full-map" character.slug %}';
    var getLiveMapUrl = '{% url "live-map" character.slug %}';
    var setLiveMapPositionUrl = '';
    var parts = '{% url "set-live-map" character.slug 0 0 %}'.split('/');
    for (idx=0 ; idx < (parts.length - 3) ; idx++){
        setLiveMapPositionUrl+= parts[idx] + "/";
    }
    var getStatusUrl = '{% url "status" character.slug %}';
    var getEditActionlog = '/edit-log/';
    var getEditCharacter = '{% url "edit-character" character.slug %}';
    var getActionReadUrl = '{% url "read-actionlog" character.slug %}';
    var getInitiativeUrl = '{% url "characters-initiative" character.slug %}';
    var postNote = '{% url "post-note" character.slug %}';
    var formChangeAudioUrl = '{% url "edit-audio" character.slug %}';
    var formQuickEditUrl = '{% url "quick-edit" character.slug %}';
    var getShapeUrl = '';
    var parts = '{% url "shape-simple" 'dummy' %}'.split('/');
    for (idx=0;idx<(parts.length-2);idx++){
        getShapeUrl += parts[idx] + "/";
    }
    var baseDoActionUrl = '';
    parts = '{% url "do-action" character.slug 'default' %}'.split('/');
    for (idx=0;idx<(parts.length-1);idx++){
        baseDoActionUrl += parts[idx] + "/";
    }
    var log_parts = '{% url "set-log" 1 'R' %}'.split('/');
    {% if is_game_master %}
    var is_game_master = true;
    var getActionLogChooserUrl = '{% url "character-log-chooser" character.slug %}';
    var getCharactersSheetUrl = '{% url "characters-sheet" character.slug %}';
    {% endif %};
    var baseSetLogUrl = ''
    for (idx=0;idx<(log_parts.length-3);idx++){
        baseSetLogUrl += log_parts[idx] + "/";
    }
    {% if game.ap_custom_icon %}var ap_icon = '{{game.ap_custom_icon}}';{% endif %}
    {% if game.fp_custom_icon %}var fp_icon = '{{game.fp_custom_icon}}';{% endif %}
    {% if game.hp_custom_icon %}var hp_icon = '{{game.hp_custom_icon}}';{% endif %}
    {% if game.mp_custom_icon %}var mp_icon = '{{game.mp_custom_icon}}';{% endif %}
{% endblock %}

