{% load i18n staticfiles %}<!doctype html>
<html>
<head>
    <title>{{PROJECT}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    {% include "blocks/head_favicon.html" %}

    <link rel="stylesheet" href="{% static 'morrigan/dropzone/dropzone.min.css' %}" />
    <!-- VueJS -->
    {% if DEBUG %}
    <script type='text/javascript' src="{% static 'morrigan/vuejs/vue-debug.js' %}"></script>
    {% else %}
    <script type='text/javascript' src="{% static 'morrigan/vuejs/vue.min.js' %}"></script>
    {% endif %}
    {% comment %}
    <!-- ReactJS -->
    {% if DEBUG %}
    <script type='text/javascript' src="{% static 'morrigan/reactjs/react.js' %}"></script>
    <script type='text/javascript' src="{% static 'morrigan/vuejs/vue-debug.js' %}"></script>
    {% else %}
    <script type='text/javascript' src="{% static 'morrigan/reactjs/react.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'morrigan/vuejs/vue.min.js' %}"></script>
    {% endif %}
    <script type='text/javascript' src="{% static 'morrigan/reactjs/react-dom.js' %}"></script>
    {% endcomment %}
    <!-- jquery -->
    <script type='text/javascript' src="{% static 'morrigan/jquery/jquery.min.js' %}"></script>
    <!-- font-awesome -->
    <link rel="stylesheet" href="{% static 'morrigan/font-awesome/css/font-awesome.min.css' %}" />
    <!-- font-morrigan -->
    <link rel="stylesheet" href="{% static 'morrigan/font-morrigan/font-morrigan.css' %}" />
    <!-- bootstrap -->
    <link rel="stylesheet" href="{% static 'morrigan/bootstrap/bootstrap.min.css' %}" />
    <script type='text/javascript' src="{% static 'morrigan/bootstrap/popper.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'morrigan/bootstrap/bootstrap.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'morrigan/AdminLTE/css/adminlte.min.css' %}" />
    <link rel="stylesheet" href="{% static 'morrigan/css/styles.css' %}" />
    <script type='text/javascript' src="{% url 'translation-js' %}"></script>
    <script type='text/javascript' src="{% static 'morrigan/AdminLTE/js/adminlte.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'morrigan/showdown.min.js' %}"></script>
    <script type='text/javascript'
            src="{% static 'morrigan/js/chat.js' %}"></script>
    <script type='text/javascript' src="{% static 'morrigan/js/extra.js' %}"></script>
    {% block head %}{% endblock %}
    <style>{% block inlinecss %}
    {% endblock %}
    {% if background_image %}
    body {
        background-image: url({{background_image}});
        background-repeat: no-repeat;
        background-position: 4em 1em;
	    background-color: white;
    }
    {% endif %}</style>
</head>

<body class="hold-transition sidebar-mini sidebar-collapse {{css_theme}}">

<div class="wrapper">
      <nav class="main-header navbar navbar-expand navbar-dark">
         <ul class="navbar-nav">
           <li class="nav-item">
             <a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
           </li>
         </ul>
         <ul class="nav nav-pills" id="select-character-menu"></ul>
         <div class="navbar-nav ml-md-auto" id='status-div'></div>
      </nav>

      <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="/" class="brand-link logo-switch">
          <img src="{% static '/morrigan/images/morrigan-logo-small.png' %}" class="brand-image-xl logo-xs">
          <span class="brand-text font-weight-light">
              Morrigan
          </span>
        </a>
        <!-- Sidebar -->
        <div class="sidebar">
          <nav class="mt-2" id="sidebar-admin">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
                {% if user.is_staff %}
                <li class="nav-item">
                    <a href="/admin/" class="nav-link">
                        <i class="nav-icon fa fa-cogs"></i>
                        <p>{% trans "Administration" %}</p>
                    </a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href='{% url "password_change" %}'>
                        <i class='nav-icon fa fa-key'></i>
                        <p>{% trans "Change password" %}</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='{% url "edit-profile" %}'>
                        <i class='nav-icon fa fa-user-md'></i>
                        <p>{% trans "Update profile" %}</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='{% url "logout" %}'>
                        <i class='nav-icon fa fa-power-off'></i>
                        <p>{% trans "Logout" %}</p>
                    </a>
                </li>
            </ul>
          </nav>
        </div>
        <div class="sidebar">
          <nav class="mt-2" id="menu"></nav>
        </div>
          {% if user.is_superuser %}
          <div class="sidebar" id="sidebar-admin-2">
              <nav class="mt-2" id="admin-menu">
                  <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
                      <li class="nav-item">
                          <a href="#" class="nav-link admin-location-link"
                             data-target="/gm-document">
                              <i class="nav-icon fa fa-file-o"></i>
                              <p>{% trans "Document" %}</p>
                          </a>
                      </li>
                      <li class="nav-item">
                          <a href="#" class="nav-link admin-location-link"
                             data-target="/gm-teleport">
                              <i class="nav-icon ra ra-player-teleport"></i>
                              <p>{% trans "Teleport" %}</p>
                          </a>
                      </li>
                      <li class="nav-item">
                          <a href="#" class="nav-link admin-location-link"
                             data-target="/gm-new-character">
                              <i class="nav-icon ra ra-double-team"></i>
                              <p>{% trans "New character" %}</p>
                          </a>
                      </li>
                      <li class="nav-item">
                          <a href="#" class="nav-link admin-location-link"
                             data-target="/gm-new-location">
                              <i class="nav-icon ra ra-capitol"></i>
                              <p>{% trans "New location" %}</p>
                          </a>
                      </li>
                      <li class="nav-item">
                          <a href="#" class="nav-link admin-location-link"
                             data-target="/gm-new-path">
                              <i class="nav-icon ra ra-trail"></i>
                              <p>{% trans "New path" %}</p>
                          </a>
                      </li>
                  </ul>
              </nav>
          </div>
          {% endif %}
      </aside>

      <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
        <div class="p-3">
          <a data-widget="control-sidebar" href="#">{% trans "Close "%}</a>
          <div id="right-sidebar">
              <div id="music-edit">
              </div>
          </div>
        </div>
      </aside>

      <div id="main-container" class="container-fluid mt-3" role="main">
       {% if SYSTEM_MESSAGE %}
         <div class="alert alert-warning" role="alert">
           <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{SYSTEM_MESSAGE}}
         </div>
       {% endif %}
     <div id='action-form'>
       <div class="modal modal-action">
         <div class="modal-dialog modal-xl">
           <div class="modal-content">
             <div class="modal-header">
                 <h4 class="modal-title"></h4>
               <button type="button" class="close" data-dismiss="modal" aria-label="{% trans 'Close' %}"><span aria-hidden="true">&times;</span></button>
             </div>
             <div class="modal-body"></div>
             <div class="modal-footer">
       <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       <button type="button" class="btn btn-primary submit">{% trans 'Do it!' %}</button>
             </div>
           </div>
         </div>
       </div>
     </div>
      <div id='edit-form'>
          <div class="modal modal-edit">
              <div class="modal-dialog modal-xl">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h4 class="modal-title"></h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="{% trans 'Close' %}"><span aria-hidden="true">&times;</span></button>
                      </div>
                      <div class="modal-body"></div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary submit-edit">{% trans 'Edit' %}</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div id='full-screen' style="display:none;">
          {% comment %}
          <div class="img-toolbar">
              <button type="button" class="btn btn-default">
                  <i class="fa fa-thumb-tack" aria-hidden="true"></i>
              </button>
          </div>
          {% endcomment %}
          <div id="full-screen-image">
              <img src="#">
          </div>
      </div>

     <div id="main-content" class='row'>
      {% if game %}{% include "morrigan/chat_div.html" %}{% endif %}
      <div id='state-container' class='col-12 col-lg-6 order-lg-1'>
        <div id="dice-canvas"></div>
        <div class="top-toolbar">
            <div id="document-selector"></div>
            {% if has_audio %}{% if is_game_master %}
            <a class="btn btn-primary float-right ml-2"
               data-widget="control-sidebar" href="#" id="btn-music-edit">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
            {% endif %}
            <div id="toggle-music" class="d-flex flex-row">
                <div class="m-2 audio-volume-container">
                    <input type="range" id="audio-volume" min="0" max="100" />
                </div>
                <div class="btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-primary active">
                      <input type="checkbox" name="music-active">
                      <span class="fa-stack fa-lg">
                         <i class="fa fa-music fa-stack-1x" aria-hidden="true"></i>
                         <i class="fa fa-ban fa-stack-2x text-danger"></i>
                      </span>
                  </label>
                </div>
            </div>
            {% endif %}
        </div>
         {% block main %}{% endblock %}
      </div>
     </div>
   </div>
</div>
<div id='temp-container' style="display:none;"></div>

<!-- dices -->
<script type="text/javascript" src="{% static 'morrigan/dice/three.min.js' %}"></script>
<script type="text/javascript" src="{% static 'morrigan/dice/cannon.min.js' %}"></script>
<script type="text/javascript" src="{% static 'morrigan/dice/teal.js' %}"></script>
<script type="text/javascript" src="{% static 'morrigan/dice/dice.js' %}"></script>
<script type="text/javascript" src="{% static 'morrigan/dice/main.js' %}"></script>
<script type="text/javascript" defer="defer">
    dice_initialize(document.body);
</script>

<script type='text/javascript'>
   $(function(){
       $('.modal-action').modal({show: false});
       $('.modal-action').on('hidden.bs.modal', function (e) {
            let key = "#character-detail-" + current_character + " .character-check";
            if ($(key).length) $(key)[0].click();
            $("#chat-message-input").focus();
       });
       $(".modal-action").on('keydown', function(e) {
            modal_prevent_submit(".modal-action .submit", e);
       });
       $("body").on("click", ".submit", function(e){
           e.preventDefault();
           var form = $(".action-form");
           $.ajax({
               url: form.attr("action"),
               type: "POST",
               data: new FormData(form[0]),
               contentType: false,
               cache: false,
               processData:false,
               success: function(data) {
                   refresh_modal(data);
               }
           });
           return false;
       });
       $('.modal-edit').modal({show: false});
       $(".modal-edit").on('keydown', function(e) {
            modal_prevent_submit(".modal-edit .submit-edit", e);
       });
       $('.modal-edit').on('hidden.bs.modal', function (e) {
            let key = "#character-detail-" + current_character + " .character-check";
            if ($(key).length) $(key)[0].click();
            $("#chat-message-input").focus();
       });
       $("body").on("click", ".submit-edit", function(e){
           e.preventDefault();
           var form = $(".edit-form");
           $.ajax({
               url: form.attr("action"),
               type: "POST",
               data: new FormData(form[0]),
               contentType: false,
               cache: false,
               processData:false,
               success: function(data) {
                   refresh_edit_modal(data);
               }
           });
           return false;
       });
       $("#full-screen").click(function(){
           $("#full-screen").hide();
       });

       if(typeof load_audio === "undefined"){
           $("#toggle-music").removeClass("d-flex").addClass("d-none");
       }
       $("#toggle-music label").click(function(){
           if(load_audio){
               setTimeout(load_audio, 300); // dirty but have to wait for the active state...
           }
       });

       $("#audio-volume").mousemove(function() {
          currentAudioLevel = $("#audio-volume")[0].value/100;
          $("audio").each(function(){
            this.volume = currentAudioLevel;
          });
       });

      {% if user.is_superuser %}$(".admin-location-link").click(function(e){
           e.preventDefault();
           if (!currentLocationSlug) return;
           var url = $(this).attr("data-target") + "/" + currentLocationSlug;
           ajaxGet(url, function(content){
                refresh_edit_modal(content);
                $('.modal-edit').modal('show');
           });
      });{% endif %}
   });
   {% block inlinejs %}
   {% endblock %}
   </script>
   {% block extrajs %}
   {% endblock %}
    <script type='text/javascript'>
    {% block postinlinejs %}
    {% endblock %}
    </script>
   </body>
</html>

