{% extends "base.html" %}
{% load i18n mybootstrap %}
{% block main %}

{% if form.errors %}
<div class="alert alert-danger">
<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
{% trans "Your username and password didn't match. Please try again." %}
</div>
{% endif %}

<form method="post" class='action-form' action="{% url 'login' %}">{% csrf_token %}
<div class="form row justify-content-md-center">
  <div class="col-6">
    <div class="form-group">
      {% bs_field form.username "col-12" "col-12" %}
    </div>
    <div class="form-group">
      {% bs_field form.password "col-12" "col-12" %}
    </div>
    <div class="form-group">
      <div class="col-md-3 col-xs-offset-1 col-md-offset-3">
        <input type="submit" value="Login" class="btn btn-primary mb-2" />
      </div>
    </div>
  </div>
</div>
<input type="hidden" name="next" value="{{ next }}" />
</form>
{% endblock %}

