{% extends "base.html" %}{% load i18n staticfiles %}

{% block inlinejs %}
    var rp_mode = {% if RP_MODE %}true{% else %}false{% endif %};
    {% if character %}
    var getMenuUrl = '{% url "character-menu" character.slug %}';
    var getStatusUrl = '{% url "status" character.slug %}';
    {% endif %}
    {% include "blocks/translations.js.html" %}
{% endblock %}
{% block extrajs %}
    {% if character %}
<script type='text/javascript' src="{% static 'morrigan/dropzone/dropzone.min.js' %}"></script>
{% comment %}
<script type='text/javascript' src="{% static 'morrigan/js/pager/pager.js' %}"></script>
<script type='text/javascript' src="{% static 'morrigan/js/main-interface.js' %}"></script>
{% endcomment %}
<script type='text/javascript' src="{% static 'morrigan/js/vue/generics.js' %}"></script>
<script type='text/javascript' src="{% static 'morrigan/js/vue-interface.js' %}"></script>
<script type='text/javascript' src="{% static 'morrigan/js/vue/menu.js' %}"></script>
<script type='text/javascript' src="{% static 'morrigan/js/vue/status-bar.js' %}"></script>
<script type='text/javascript' src="{% static 'morrigan/js/vue/select-character.js' %}"></script>
<script type='text/javascript' src="{% static 'morrigan/js/vue/audio.js' %}"></script>
<script type='text/javascript' src="{% static 'morrigan/js/vue/pager.js' %}"></script>
<script type='text/javascript' src="{% static 'morrigan/js/vue/initiative.js' %}"></script>
<script type='text/javascript' src="{% static 'morrigan/js/vue/action-list.js' %}"></script>
<script type='text/javascript' src="{% static 'morrigan/js/vue/location.js' %}"></script>
<script type='text/javascript' src="{% static 'morrigan/js/vue/action-log.js' %}"></script>
<script type='text/javascript' src="{% static 'morrigan/js/vue/map.js' %}"></script>
<script type='text/javascript' src="{% static 'morrigan/js/vue/character-sheet.js' %}"></script>
<script type='text/javascript' src="{% static 'morrigan/js/vue/documents.js' %}"></script>
    {% endif %}
{% endblock %}
