{% load i18n %}
{% load mybootstrap %}
<form class="edit-form dropzone" id="uploadDropzone-{{timestamp}}"
      method="post"
      enctype="multipart/form-data"
      action="{{url}}"
      name="edit-form">{% csrf_token %}

{% if form.non_field_errors or warnings %}
<div class="alert alert-danger">
<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
{% for error in form.non_field_errors %}
<p>{{error}}</p>
{% endfor %}
</div>
{% endif %}
{% for field in form.hidden_fields %}
{{field}}
{% endfor %}
{% for field in form.visible_fields %}
    {% if field.name == "file" %}
    {% else %}
    {% if field.field.large %}
    {% bs_field field "col-12" "col-12" %}
    {% else %}
    {% bs_inline_field field %}
    {% endif %}
    {% endif %}
{% endfor %}
    <div class="dz-default dz-message">
        <button class="dz-button" type="button">
            <i class="fa fa-upload" aria-hidden="true"></i><br>
            {% trans "Drop file here to upload" %}
        </button>
    </div>
</form>

<script>
    Dropzone.autoDiscover = false;
    var drop_filename = "";
    (function($){
        $("#uploadDropzone-{{timestamp}}").dropzone({
            maxFilesize: 10,
            maxFiles: 1,
            autoProcessQueue: false,
            uploadMultiple: false,
            accept: function(file, done) {
                drop_filename = file.name;
                done();
            },
            init: function() {
                var myDropzone = this,
                submitButton = document.querySelector(".modal-edit .submit-edit");

                submitButton.addEventListener('click', function(e) {
                    e.preventDefault();
                    e.stopPropagation();
                    var isValid = true;
                    if (isValid) myDropzone.processQueue();
                });
                this.on('sending', function(data, xhr, formData) {
                {% for field in form.hidden_fields %}
                    formData.append("{{field.name}}", $("#id_{{field.name}}").val());
                {% endfor %}{% for field in form.visible_fields %}
                    {% if field.name != "file" %}
                    if ($("#id_{{field.name}}").prop('type') == 'select-one'){
                        formData.append("{{field.name}}", $("#id_{{field.name}} option:selected").val());
                    } else if ($("#id_{{field.name}}[type='checkbox']").length){
                        formData.append("{{field.name}}",
                                        $("#id_{{field.name}}").is(":checked"));
                    } else {
                        formData.append("{{field.name}}", $("#id_{{field.name}}").val());
                    }{% endif %}{% endfor %}
                });
                this.on('success', function(data) {
				    setTimeout(function(){
				        $('.modal-edit').modal("hide");
				    }, 3000);
                });
            }
        });
        $('.modal-edit .submit-edit').show();
        $('.modal-edit .modal-title').html("<i class='{{action_icon}}'></i> {{action_label}}");
    })(jQuery);
</script>
{{ form.media }}