{% load i18n %}
{% load mybootstrap %}
<form class='edit-form' method="post" enctype="multipart/form-data"
      action="{{url}}"
      name="edit-form">{% csrf_token %}

{% if form.non_field_errors or warnings %}
<div class="alert alert-danger">
<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
{% for error in form.non_field_errors %}
<p>{{error}}</p>
{% endfor %}
</div>
{% endif %}
{% for field in form.hidden_fields %}
{{field}}
{% endfor %}
{% for field in form.visible_fields %}
{% if field.field.large %}
{% bs_field field "col-12" "col-12" %}
{% else %}
{% bs_inline_field field %}
{% endif %}
{% endfor %}
</form>

<script>
    (function($){
        $('.modal-edit .submit-edit').show();
        $('.modal-edit .modal-title').html("<i class='{{action_icon}}'></i> {{action_label}}");
    })(jQuery);
</script>
{{ form.media }}