  <span{% if field.errors or cls %} class='{% if field.errors %}text-danger {% endif %}{{cls}}'{% endif %}>
    {% if cls_size_lbl %}<label class='control-label {{cls_size_lbl}}{% if not field.field.required %} light{% endif %}' for='{{field.auto_id}}'>{{ field.label }}</label>{%endif%}
    <div class='{{cls_size_field}}'>{{ field }}{{ field.errors }} {{post_input}}{% if field.help_text %}<span class='help-text'>{{field.help_text}}</span>{% endif %}</div>
  </span>

