<div class="form-group row">
  <label class="col-sm-6 col-form-label{% if not field.field.required %} light{% endif %}" for='{{field.auto_id}}'>{{ field.label }}</label>
  <div class="col-sm-6">
    {{ field }}{{ field.errors }}
  </div>
</div>
