/*
  Icon Font: font-morrigan
*/

@font-face {
  font-family: "font-morrigan";
  src: url("./font-morrigan_f38d7551d40a2ac9f186a7eafae622ca.eot");
  src: url("./font-morrigan_f38d7551d40a2ac9f186a7eafae622ca.eot?#iefix") format("embedded-opentype"),
       url("./font-morrigan_f38d7551d40a2ac9f186a7eafae622ca.woff2") format("woff2"),
       url("./font-morrigan_f38d7551d40a2ac9f186a7eafae622ca.woff") format("woff"),
       url("./font-morrigan_f38d7551d40a2ac9f186a7eafae622ca.ttf") format("truetype"),
       url("./font-morrigan_f38d7551d40a2ac9f186a7eafae622ca.svg#font-morrigan") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "font-morrigan";
    src: url("./font-morrigan_f38d7551d40a2ac9f186a7eafae622ca.svg#font-morrigan") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.i-morrigan-armor:before,
.i-morrigan-battle-gear:before,
.i-morrigan-battle-gear-unequip:before,
.i-morrigan-bow:before,
.i-morrigan-chest:before,
.i-morrigan-diamond-ring:before,
.i-morrigan-hand:before,
.i-morrigan-mountains:before,
.i-morrigan-sword:before,
.i-morrigan-walking-boot:before {
  display: inline-block;
  font-family: "font-morrigan";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.i-morrigan-armor:before { content: "\f106"; }
.i-morrigan-battle-gear:before { content: "\f108"; }
.i-morrigan-battle-gear-unequip:before { content: "\f109"; }
.i-morrigan-bow:before { content: "\f105"; }
.i-morrigan-chest:before { content: "\f100"; }
.i-morrigan-diamond-ring:before { content: "\f103"; }
.i-morrigan-hand:before { content: "\f107"; }
.i-morrigan-mountains:before { content: "\f101"; }
.i-morrigan-sword:before { content: "\f104"; }
.i-morrigan-walking-boot:before { content: "\f102"; }
