{% extends "base.html" %}
{% load i18n static %}

{% block main %}<div id="content-main">

<form method="post">{% csrf_token %}
<div>
{% if form.errors %}
    <p class="errornote">
    {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
    </p>
{% endif %}


<p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

<fieldset>

<div class="row p-2">
    <div class="col-12">{{ form.old_password.errors }}</div>
    <div class="col-12">{{ form.old_password.label_tag }}</div>
    <div class="col-12">{{ form.old_password }}</div>
</div>

<div class="row p-2">
    <div class="col-12">{{ form.new_password1.errors }}</div>
    <div class="col-12">{{ form.new_password1.label_tag }}</div>
    <div class="col-12">{{ form.new_password1 }}</div>
    {% if form.new_password1.help_text %}
    <div class="col-12 help">{{ form.new_password1.help_text|safe }}</div>
    {% endif %}
</div>

<div class="row p-2">
    <div class="col-12">{{ form.new_password2.errors }}</div>
    <div class="col-12">{{ form.new_password2.label_tag }}</div>
    <div class="col-12">{{ form.new_password2 }}</div>
    {% if form.new_password2.help_text %}
    <div class="col-12 help">{{ form.new_password2.help_text|safe }}</div>
    {% endif %}
</div>

<div class="row p-2">
    <div class="col-12">
        <input type="submit" value="{% trans 'Change my password' %}"
           class="btn btn-primary">
    </div>
    <div class="col-12 p-4">
        <p><a href="/">{% trans "Back" %}</a></p>
    </div>
</div>

</fieldset>

</div>
</form></div>

{% endblock %}
