{% extends "base.html" %}
{% load i18n static %}

{% block main %}<div id="content-main">
    <p>{% trans 'Your password was changed.' %}</p>
    <p><a href="/">{% trans "Back" %}</a></p>
</div>
{% endblock %}
