{% load i18n morrigan_utilities %}
        <div class="row">
            <div class="col-9" id="chat-window">
                <div class="direct-chat-messages active" id="chat-player-log">
                </div>
                <div class="direct-chat-messages" id="chat-log">
                    {{missed_messages|safe}}
                </div>
            </div>
            <div class="col-3 chat-character-list active">
                <ul id="chan-list">
                    <li class="btn btn-secondary active"
                            id="btn-chat-player-log">
                        {% trans "Off game" %}&nbsp;<span class="miss">&nbsp;</span>
                    </li>
                    <li class="btn btn-secondary"
                        id="btn-chat-log">
                        {{location_name}}&nbsp;
                        <span class="miss">&nbsp;
                            {% if missed_messages %}<i class="fa fa-circle" aria-hidden="true"></i>{% endif %}
                        </span>
                    </li>
                </ul>
                <ul id="chat-players" class="active">
                </ul>
                <ul id="chat-characters">
                </ul>
            </div>
        </div>
<div class="col-12 warn-chat{% if not game.display_location %} warn-rounded{% endif %}" id="warn-in-game">
    {% trans "In game" %}
</div>
<div class="col-12 warn-chat active{% if not game.display_location %} warn-rounded{% endif %}" id="warn-off-game">
    {% trans "Off game" %}
</div>
    {{ room_name|json_script:"room-name" }}
    <script>
        const room_name = JSON.parse(document.getElementById('room-name').textContent);

        {% for oracle in oracles %}oracle["{{oracle.slug}}"] = "{{oracle.name}}";
        {% endfor %}
        reinit_chat_vars();
        current_character = "{{ character_slug }}";
        character_name = "{{ character_name }}";
        {% for character in character_list %}
        whole_character_list.push("{{character.slug}}");
        character_name_list.push("{{character.current_name}}");
        {% endfor %}
        {% for action in extra_actions %}full_help += "<li>{{action.help_message}}</li>";
        {% endfor %}
        full_help += "</ul></span>";
        full_help += join_leave_close;
        {% for action in extra_actions %}
        extra_actions.push("{{action.slug}}");
        {% endfor %}

        i18n_refresh = " {% trans 'refresh' %}";
        i18n_has_joined = " {% trans 'has joined' %}";
        i18n_has_leaved = " {% trans 'has leaved' %}";
        i18n_disconnected_reload = "{% trans 'Disconnected from the chat - try to reload:' %}";
        launch_chat("{{room_type}}", "{{character_slug}}", room_name,
                    {% if is_game_master %}true{% else %}false{% endif %});
        {% for target_slug, target_name, messages in missed_private_messages %}
		create_user_chat("{{target_slug}}", "{{target_name}}");
		$("#chat-{{target_slug}}").html("{{messages|safe}}");
        {% endfor %}
	    if(!$('.modal.show').length) $("#chat-message-input").focus();
    </script>