{% extends "admin/base_site.html" %}

{% block content %}

<form action="." method="post" enctype="multipart/form-data">
{% csrf_token %}
<table>
{{ file_form }}
</table>
<input type="hidden" name="action" value="{{current_action}}" />
<input type="submit" name="apply" value="Import" />
</form>

{% endblock %}
